﻿@page
@model LoginModel
@{
	ViewData["Title"] = "Đăng Nhập";
}
<div class="registration-box">
	<div class="limiter">
		<div class="container-login100 d-flex align-items-center justify-content-center">
			<div class="wrap-login100 d-flex align-items-center justify-content-center">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/picture/team.jpg" alt="IMG" />
				</div>
				<div class="login-form-container">
					<form id="loginForm" method="post" class="login100-form validate-form">
						<span class="login100-form-title">
							<b>ĐĂNG NHẬP</b>
						</span>
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
						<div class="wrap-input100 validate-input mb-3">
							<input asp-for="Input.Email" class="input100" autocomplete="username" aria-required="true" placeholder="Tài khoản" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class='bx bx-user'></i>
							</span>
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="wrap-input100 validate-input mb-3">
							<input asp-for="Input.Password" type="password" class="input100" autocomplete="current-password" aria-required="true" placeholder="Mật khẩu" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class='bx bx-key'></i>
							</span>
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<div class="container-login100-form-btn mb-3">
							<button id="login-submit" type="submit" class="login100-form-btn">Đăng Nhập</button>
						</div>
						<div class="text-right p-t-12">
							<a class="txt2" href="./ForgotPassword" target="_blank">Bạn quên mật khẩu?</a>
						</div>
						<div class="text-right p-t-12">
							<a class="txt2" href="./Register" target="_blank">Đăng kí người dùng mới</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
