﻿@page
@model RegisterModel
@{
	ViewData["Title"] = "Đăng ký";
}
<div class="registration-box">
	<div class="limiter">
		<div class="container-register100 d-flex align-items-center justify-content-center">
			<div class="wrap-register100 d-flex align-items-center justify-content-center">
				<div class="register100-pic js-tilt" data-tilt>
					<img src="~/picture/register.jpg" alt="IMG" />
				</div>
				<div class="register-form-container">
					<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="register100-form validate-form">
						<span class="register100-form-title">
							<b>ĐĂNG KÝ TÀI KHOẢN MỚI</b>
						</span>
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
						<div class="wrap-input100 validate-input mb-3">
							<input asp-for="Input.Address" class="input100 form-control" autocomplete="address" aria-required="true" placeholder="Địa chỉ" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class='bx bx-map'></i>
							</span>
							<span asp-validation-for="Input.Address" class="text-danger"></span>
						</div>
						<div class="wrap-input100 validate-input mb-3">
							<input asp-for="Input.Email" class="input100 form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class='bx bx-envelope'></i>
							</span>
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="wrap-input100 validate-input mb-3">
							<input asp-for="Input.Password" type="password" class="input100 form-control" autocomplete="new-password" aria-required="true" placeholder="Mật khẩu" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class='bx bx-key'></i>
							</span>
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<div class="wrap-input100 validate-input mb-3">
							<input asp-for="Input.ConfirmPassword" type="password" class="input100 form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập lại mật khẩu" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class='bx bx-check'></i>
							</span>
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						</div>
						<div class="container-register100-form-btn mb-3">
							<button id="registerSubmit" type="submit" class="register100-form-btn">Đăng kí</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
