﻿
@{
    ViewData["Title"] = "AddNewTintuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model WebTracuuLuatGiaoThong.Models.Tintuc

<div class="container-content">
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					@* <div class="card-header">
						<h1 class="card-title" style="text-align:center">Thêm Tin Tức Mới</h1>
					</div>
					<div class="card-body">
						<!-- Form upload file -->
						<div class="form-group mb-3">
							<label>Chọn ảnh:</label>
							<input type="file" id="fileUpload" name="file" class="form-control mb-2" />
							<button type="button" id="uploadButton" class="btn btn-success mb-3">Lưu ảnh</button>
							<p id="uploadResult" class="text-success"></p>
							<!-- Hidden field lưu tên file -->
							<input type="hidden" id="filename" name="filename" />
						</div>

						<form asp-action="AddNewTintuc" method="post">
							<input type="hidden" asp-for="Iduser" class="form-control" value="@Model.Iduser" />
							<div class="form-group mb-3">
								<label asp-for="Ten" class="control-label">Tên tin tức/Mô tả</label>
								<input asp-for="Ten" class="form-control" required />
								<span asp-validation-for="Ten" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="Noidung" class="control-label">Nội dung</label>
								<textarea asp-for="Noidung" class="form-control" rows="5"></textarea>
								<span asp-validation-for="Noidung" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<input asp-for="Trangthai" type="hidden" value="@Model.Trangthai" />
								<label class="form-check-label" asp-for="Trangthai">
									@if (Model.Trangthai == false)
									{
										<text>Trạng thái: Đợi kiểm duyệt</text>
									}
									else
									{
										<text>Trạng thái: Đã kiểm duyệt</text>
									}
								</label>
							</div>
							<div class="form-group mb-3">
								<label asp-for="Ngaycapnhat" class="control-label">Ngày cập nhật</label>
								<input asp-for="Ngaycapnhat" class="form-control" readonly />
								<span asp-validation-for="Ngaycapnhat" class="text-danger"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Thêm tin tức</button>
							</div>
						</form>
					</div>
				</div>
				<div class="my-3">
					<a asp-action="Tintucmoi" asp-controller="User" class="btn btn-secondary">Trở lại danh sách tin tức</a>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		document.getElementById('uploadButton').addEventListener('click', async () => {
			const fileInput = document.getElementById('fileUpload');
			const file = fileInput.files[0];
			if (!file) {
				alert("Hãy chọn một file để upload.");
				return;
			}

			const formData = new FormData();
			formData.append('file', file);

			try {
				const response = await fetch('/Admin/Upload', {
					method: 'POST',
					body: formData
				});

				if (response.ok) {
					const filename = await response.text(); // Lấy tên file trả về
					document.getElementById('uploadResult').innerText = `Uploaded: ${filename}`;
					document.getElementById('filename').value = filename; // Gán giá trị vào hidden input
					document.getElementById('hiddenFilename').value = filename; // Đồng bộ với form submit
				} else {
					document.getElementById('uploadResult').innerText = "Upload thất bại!";
				}
			} catch (error) {
				console.error("Error uploading file:", error);
				document.getElementById('uploadResult').innerText = "Có lỗi xảy ra trong quá trình upload.";
			}
		});
	</script>
}
 *@

					<div class="card-header">
						<h1 class="card-title text-center">Thêm tin tức mới</h1>
					</div>
					<div class="card-body">
						<!-- Form upload file -->
						<div class="form-group mb-3">
							<label>Chọn ảnh:</label>
							<input type="file" id="fileUpload" name="file" class="form-control mb-2" />
							<button type="button" id="uploadButton" class="btn btn-success mb-3">Upload ảnh</button>
							<p id="uploadResult" class="text-success"></p>
							<!-- Hidden field lưu tên file -->
							<input type="hidden" id="filename" name="filename" />
						</div>

						<!-- Form thêm tin tức -->
						<form asp-action="AddNewTintuc" method="post">
							<input type="hidden" asp-for="Iduser" class="form-control" value="@Model.Iduser" />
							<div class="form-group mb-3">
								<label asp-for="Ten" class="control-label">Tên tin tức/Mô tả</label>
								<input asp-for="Ten" class="form-control" required />
								<span asp-validation-for="Ten" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="Noidung" class="control-label">Nội dung</label>
								<textarea asp-for="Noidung" class="form-control" rows="5"></textarea>
								<span asp-validation-for="Noidung" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<input asp-for="Trangthai" type="hidden" value="@Model.Trangthai" />
								<label class="form-check-label" asp-for="Trangthai">
									@if (Model.Trangthai == false)
									{
										<text>Trạng thái: Đợi kiểm duyệt</text>
									}
									else
									{
										<text>Trạng thái: Đã kiểm duyệt</text>
									}
								</label>
							</div>
							<div class="form-group mb-3">
								<label asp-for="Ngaycapnhat" class="control-label">Ngày cập nhật</label>
								<input asp-for="Ngaycapnhat" class="form-control" readonly />
								<span asp-validation-for="Ngaycapnhat" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<!-- Hidden field truyền tên file -->
								<input type="hidden" name="filename" id="hiddenFilename" />
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Thêm tin tức</button>
							</div>
						</form>
					</div>
				</div>
				<div class="my-3">
					<a asp-action="Tintuc" asp-controller="Admin" class="btn btn-secondary">Trở lại danh sách tin tức</a>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		document.getElementById('uploadButton').addEventListener('click', async () => {
			const fileInput = document.getElementById('fileUpload');
			const file = fileInput.files[0];
			if (!file) {
				alert("Hãy chọn một file để upload.");
				return;
			}

			const formData = new FormData();
			formData.append('file', file);

			try {
				const response = await fetch('/Admin/Upload', {
					method: 'POST',
					body: formData
				});

				if (response.ok) {
					const filename = await response.text(); // Lấy tên file trả về
					document.getElementById('uploadResult').innerText = `Uploaded: ${filename}`;
					document.getElementById('filename').value = filename; // Gán giá trị vào hidden input
					document.getElementById('hiddenFilename').value = filename; // Đồng bộ với form submit
				} else {
					document.getElementById('uploadResult').innerText = "Upload thất bại!";
				}
			} catch (error) {
				console.error("Error uploading file:", error);
				document.getElementById('uploadResult').innerText = "Có lỗi xảy ra trong quá trình upload.";
			}
		});
	</script>
}
