﻿@{
    ViewData["Title"] = "Tạo Mẫu Biên Bản Vi Phạm Giao Thông";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo Mẫu Biên Bản Vi Phạm Giao Thông</h2>

<form asp-action="CreateDocument" method="post">
    <div>
        <label>Tên cơ quan:</label>
        <input type="text" name="tenCoQuan" required />
    </div>
    <div>
        <label>Số biên bản:</label>
        <input type="text" name="soVanBan" required />
    </div>
    <div>
        <label>Ngày ban hành:</label>
        <input type="date" name="ngayBanHanh" required />
    </div>
    <div>
        <label>Họ và tên người vi phạm:</label>
        <input type="text" name="hoTenViPham" required />
    </div>
    <div>
        <label>Giấy phép lái xe số:</label>
        <input type="text" name="gplxSo" required />
    </div>
    <div>
        <label>Biển số xe:</label>
        <input type="text" name="bienSoXe" required />
    </div>
    <div>
        <label>Địa chỉ thường trú:</label>
        <input type="text" name="diaChi" required />
    </div>
    <div>
        <label>Nội dung vi phạm:</label>
        <textarea name="noiDungViPham" required></textarea>
    </div>
    <div>
        <label>Mức phạt (VNĐ):</label>
        <input type="number" name="mucPhat" required />
    </div>
    <div>
        <label>Biện pháp khắc phục:</label>
        <textarea name="bienPhapKhacPhuc" required></textarea>
    </div>
    <button type="submit">Tạo Biên Bản</button>
</form>
