﻿@{
    ViewData["Title"] = "Hiển Thị Văn Bản";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Nếu bạn có layout
}
<div style="border: 1px solid #000; padding: 20px; margin: 20px; border-radius: 10px; text-align: left; font-family: 'Times New Roman', Times, serif;">
    <h3 style="text-align: center; font-weight: bold;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h3>
    <p style="text-align: center; font-weight: bold;">Độc lập - Tự do - Hạnh phúc</p>

    <h4 style="margin-top: 20px; font-weight: bold;">Thông Tin Văn Bản</h4>
    <p><strong>Tên cơ quan:</strong> @ViewBag.TenCoQuan</p>
    <p><strong>Số văn bản:</strong> @ViewBag.SoVanBan</p>
    <p><strong>Ngày ban hành:</strong> @ViewBag.NgayBanHanh</p>

    <h4 style="margin-top: 20px; font-weight: bold;">Nội Dung Văn Bản</h4>
    <p>@ViewBag.DocumentContent</p>

    <div style="margin-top: 20px; text-align: right;">
        <button onclick="window.print();" style="background-color: #007bff; color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">In Văn Bản</button>
        <a asp-action="DownloadDocument" class="btn btn-primary" style="background-color: #28a745; color: white; padding: 10px 15px; border: none; border-radius: 5px; text-decoration: none; margin-left: 10px;">Tải về</a>
    </div>
</div>
