﻿<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết tin tức</title>
    <script src="https://unpkg.com/docx@7.1.1/build/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <style>
        /* Cập nhật container chính để nội dung tự căn chỉnh */
        .content-container {
            border: 1px solid #ccc; /* Viền khung */
            border-radius: 10px; /* Góc bo tròn */
            padding: 20px; /* Khoảng cách bên trong */
            background-color: #fff; /* Màu nền trắng */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
            max-width: 800px; /* Giới hạn chiều rộng của khung */
            margin: 20px auto; /* Canh giữa và khoảng cách trên/dưới */
            overflow: hidden; /* Đảm bảo không có nội dung bị tràn ra ngoài */
        }

        .news-title {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            word-wrap: break-word; /* Đảm bảo tự động xuống dòng khi tiêu đề quá dài */
        }

        .news-author {
            font-size: 14px;
            color: #666;
            text-align: center;
            margin-bottom: 20px;
        }

        .news-content {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
            word-wrap: break-word; /* Đảm bảo nội dung không tràn ra ngoài */
            white-space: pre-wrap; /* Đảm bảo ngắt dòng hợp lý trong phần tử <pre> */
            overflow-wrap: break-word; /* Giúp ngắt từ ở nơi hợp lý */
            max-height: 500px; /* Giới hạn chiều cao của vùng hiển thị */
            overflow-y: auto; /* Thêm thanh cuộn dọc nếu nội dung quá dài */
            padding: 10px; /* Thêm một chút padding để nội dung không sát viền */
            border: 1px solid #ddd; /* Thêm viền cho phần nội dung */
            border-radius: 5px; /* Bo tròn các góc */
            background-color: #f9f9f9; /* Màu nền nhẹ cho phần nội dung */
        }

        .news-image img {
            display: block;
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover; /* Đảm bảo ảnh không bị méo */
            margin: 20px auto;
            border-radius: 5px;
        }

        .comments-container {
            margin-top: 30px;
        }

        .comment-section {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 5px;
            background-color: #f9f9f9;
            margin-bottom: 20px; /* Khoảng cách giữa các phần */
        }

        .comment-form {
            margin-top: 20px;
        }

        .form-group textarea {
            width: 100%; /* Đảm bảo textarea chiếm hết chiều rộng của form */
            margin-right: 10px;
            padding: 10px; /* Thêm padding cho textarea để dễ sử dụng */
        }

        .btn {
            padding: 10px 15px; /* Đảm bảo nút bấm dễ nhìn và dễ nhấn */
        }

    </style>
</head>
<body>
    <div class="content-container">
        <h1 class="news-title">@Model.Ten</h1>
        <p class="news-author">
            Tác giả: @Model.Iduser - @Model.Ngaycapnhat.ToString("dddd, dd/MM/yyyy HH:mm", new System.Globalization.CultureInfo("vi-VN"))
        </p>
        @if (Model.Tenhinhanh != null)
        {
            <div class="news-image">
                <img src="@Url.Action("GetImage", "Admin", new { blobName = Model.Tenhinhanh })" alt="Ảnh tin tức" />
            </div>
        }
        <pre id="demo123" class="news-content">@Html.Raw(Model.Noidung)</pre>

      

        <div class="comments-container">
            <div class="comment-section">
                <h4>Bình luận: </h4>
                <div class="comment-list">
                    @foreach (var comment in ViewBag.Binhluans)
                    {
                        <div class="comment-item">
                            <p class="comment-author">@comment.IdUser - @comment.Ngaybinhluan.ToString("dd/MM/yyyy HH:mm"): @comment.Noidung</p>
                        </div>
                    }
                </div>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="comment-form">
                    <h5>Viết bình luận</h5>
                    <form asp-action="Binhluan" method="post">
                        <input type="hidden" name="IdUser" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
                        <input type="hidden" name="IdTintuc" value="@Model.Idtintuc" />
                        <input type="hidden" name="Ngaybinhluan" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
                        <div class="form-group">
                            <textarea name="Noidung" class="form-control" placeholder="Nhập bình luận của bạn..." required></textarea>
                            <button type="submit" class="btn btn-primary">Gửi</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</body>
</html>
