﻿@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DbDacnContext _context = new DbDacnContext();
}
@using System.Security.Claims
@model System.ValueTuple<List<Tintuc>, List<Vanban>>

<!-- Banner trang chủ -->
<section class="banner">
    <div class="carousel-inner">
        <!-- Ảnh đầu tiên -->
        <div class="carousel-item position-relative active" style="height: 100vh; min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="~/picture/123.png" style="object-fit: cover;" alt="Image 1">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Luatgiaothong.vn</h4>
                    <h3 class="display-2 text-capitalize text-white mb-4">Website tra cứu luật hàng đầu Việt Nam</h3>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="@Url.Action("Vanbanmoi", "User")">Tra cứu ngay</a>
                </div>
            </div>
        </div>

        <!-- Ảnh thứ hai -->
        <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="~/picture/banner.jpg" style="object-fit: cover;" alt="Image 2">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Luatgiaothong.vn</h4>
                    <h3 class="display-2 text-capitalize text-white mb-4">Chúng tôi luôn cập nhập các tin tức về giao thông mới nhất</h3>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="@Url.Action("Tintucmoi", "User")">Xem tin tức mới ngay</a>
                </div>
            </div>
        </div>

        <!-- Ảnh thứ ba -->
        <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="~/picture/banner2.jpg" style="object-fit: cover;" alt="Image 3">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Luatgiaothong.vn</h4>
                    <h3 class="display-2 text-capitalize text-white mb-4">Bạn cần hỗ trợ ? Hãy liên hệ với chúng tôi thông qua nút bên dưới</h3>
                    <a class="btn custom-btn py-3 px-5 mt-2" href="">Liên Hệ Với Chúng Tôi</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Các mũi tên điều hướng  -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Trước</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Tiếp Theo</span>
    </a>
</section>

<!-- Tìm kiếm -->
<div class="container">
    <div class="content">
        <div class="search-container">
            <form asp-action="TimKiem" method="get">
                <div class="input-with-icon">
                    <input id="searchInput" type="search" name="text" placeholder="Tìm kiếm" required />
                    <i class="fas fa-microphone" id="microphoneIcon" onclick="startRecording()"></i>
                </div>
                <button type="submit" name="Find">
                    <i class="fas fa-search"></i> Tìm kiếm
                </button>
            </form>
        </div>

        <!-- Tin tức giao thông -->
        <section class="featured-articles traffic-news">
            <h2>Các tin tức giao thông mới nhất</h2>
            <div class="articles-grid">
                @{
                    int count1 = 0;
                    foreach (var tintuc in Model.Item1.OrderByDescending(x => x.Idtintuc))
                    {
                        <article>
                            @{
                                if(tintuc.Tenhinhanh == null)
                                {
                                    <img src="~/picture/tai-xuong.jpg" />
                                }
                                else
                                {
                                    <img src="@Url.Action("GetImage", "Admin", new { blobName = tintuc.Tenhinhanh })"
                                         alt="Ảnh tin tức"
                                         style="width: 345px; height: 230px; object-fit: cover;" />
                                }
                            }
                            <h3>
                                @(tintuc.Ten.Length > 70 ? tintuc.Ten.Substring(0, 70) + "..." : tintuc.Ten)
                            </h3>
                            <p>Ngày đăng: @tintuc.Ngaycapnhat.ToShortDateString()</p>
                            <a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc })" class="btn">Đọc Thêm</a>
                        </article>

                        count1++;
                        if (count1 == 3)
                        {
                            break;
                        }
                    }
                }
            </div>

            <!-- Tin tức gần đây -->
            <h2>Tin tức gần đây</h2>
            <div class="articles-grid">
                @{
                    var tintucList = Model.Item1.OrderByDescending(x => x.Idtintuc).ToList();
                    var startIndex = 3;
                    int count2 = 1;
                }

                @for (int i = startIndex; i < tintucList.Count; i++)
                {
                    var tintuc = tintucList[i];
                    <article>
                        <h3>
                            <a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc })" style="text-decoration: none; color: #000;">
                                @(tintuc.Ten.Length > 60 ? tintuc.Ten.Substring(0, 60) + "..." : tintuc.Ten)
                            </a>
                        </h3>
                        <p>Ngày đăng: @tintuc.Ngaycapnhat.ToShortDateString()</p>
                        <a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc })" class="btn">Đọc Thêm</a>
                    </article>
                    count2++;
                    if (count2 == 10)
                    {
                        break;
                    }
                }
            </div>
            <!-- Logic backend để lấy và hiển thị 3 tin tức đầu tiên -->
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Customer") || User.IsInRole("Admin")))
            {
                <div class="add-news">
                    <a asp-area="" asp-controller="User" asp-action="AddNewTintuc" asp-route-idUser="@User.FindFirst(ClaimTypes.NameIdentifier).Value" class="custom-btn">Thêm mới tin tức</a>
                </div>

            }
            <div class="view-all-docs">
                <a href="@Url.Action("Tintucmoi", "User")" class="btn btn-secondary">Xem tất cả tin tức</a>
            </div>
        </section>
        <!-- Văn bản giao thông -->
        <section class="featured-articles traffic-docs">
            <h2>Các văn bản giao thông mới nhất</h2>
            <div class="articles-grid">
                @if (Model.Item2 == null || !Model.Item2.Any())
                {
                    <p>Không tìm thấy văn bản</p>
                }
                else
                {
                    @* Display only the first 4 documents *@
                    @foreach (var vanban in Model.Item2.OrderByDescending(x => x.Idvb).Take(4))
                    {
                        var tenloai = _context.LoaiVanBans.FirstOrDefault(p => p.Idloaivb == vanban.IdloaiVanBan);
                        <article class="document-article" data-id="@vanban.Idvb">
                            <div class="article-content">
                                <h3 class="document-title">
                                    <a href="@Url.Action("Luatgiaothongchitiet", "User", new { id = vanban.Idvb })" style="text-decoration: none; color: #000;">
                                        <!-- Giới hạn số kí tự trong chuỗi văn bản -->
                                        @{
                                            var fullTitle = $"{tenloai.TenLoaivb} số {vanban.Sohieuvanban} của {vanban.Coquanphathanh} {vanban.Ten}";
                                            var shortTitle = fullTitle.Length > 120 ? fullTitle.Substring(0, 120) + "..." : fullTitle;
                                        }
                                        @shortTitle
                                    </a>
                                </h3>
                                <p>Ngày ban hành: @vanban.Ngaybanhanh</p>
                                <p>Ngày cập nhật: @vanban.Ngaycapnhat</p>
                                <a href="@Url.Action("Luatgiaothongchitiet", "User", new { id = vanban.Idvb })" class="btn">Đọc Thêm</a>
                            </div>
                        </article>
                    }
                }
            </div>
            <div class="view-all-docs">
                <a href="@Url.Action("Vanbanmoi", "User")" class="btn btn-secondary">Xem tất cả văn bản</a>
            </div>
        </section>


        <style>
            .highlight {
                background-color: rgba(255, 255, 0, 0.3) !important; /* Màu vàng mờ */
            }

            .articles-list {
                margin-top: 20px; /* Adjust this value to increase or decrease the space */
            }

            h2 {
                margin-top: 20px; /* Adds space above the headings to separate them from content above */
            }

            .view-all-docs {
                display: flex;
                justify-content: center; /* Center horizontally */
                margin-top: 20px;
            }

                .view-all-docs .btn {
                    padding: 10px 20px; /* Adjust button size if needed */
                }

            .add-news {
                display: flex;
                justify-content: center; /* Centers the button horizontally */
                margin-top: 20px; /* Adjust the top margin as needed */
            }

            .custom-btn {
                padding: 10px 20px; /* Adjust button size */
                background-color: #007bff; /* Change this to your desired button color */
                color: white;
                text-decoration: none;
                border-radius: 5px; /* Makes the button edges rounded */
                display: inline-block;
                text-align: center;
            }

                .custom-btn:hover {
                    background-color: #0056b3; /* Darker shade on hover */
                }

            .banner {
                position: relative;
            }

            .carousel-inner {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .carousel-item {
                position: relative;
                height: 100vh; /* Chiều cao toàn bộ viewport */
                min-height: 400px; /* Chiều cao tối thiểu */
            }

                .carousel-item img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover; /* Đảm bảo hình ảnh phủ toàn bộ khu vực */
                    filter: blur(5px); /* Tùy chọn: Thêm hiệu ứng mờ */
                }

            .carousel-caption {
                position: absolute;
                z-index: 1; /* Đảm bảo văn bản nằm trên hình ảnh */
                color: white; /* Màu văn bản */
                text-align: center; /* Căn giữa văn bản */
            }

            h4, h3 {
                color: black; /* Đảm bảo tiêu đề là màu trắng */
            }

            .custom-btn {
                background-color: #FFD700; /* Màu vàng đồng */
                color: white; /* Màu chữ */
                border: none; /* Không có đường viền */
            }

                .custom-btn:hover {
                    background-color: #FFC107; /* Màu khi di chuột qua */
                    color: white; /* Màu chữ khi di chuột qua */
                }

            .search-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }

            form {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 800px; /* Độ rộng tối đa của form */
            }

            .input-with-icon {
                position: relative;
                flex: 1; /* Đặt flex để ô input kéo dài */
                margin-right: 10px; /* Khoảng cách giữa ô input và nút tìm kiếm */
            }

                .input-with-icon input[type="search"] {
                    width: 100%;
                    padding: 10px 40px 10px 15px;
                    font-size: 16px;
                    border: 1px solid #ddd;
                    border-radius: 24px;
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
                    outline: none;
                }

                .input-with-icon i {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 18px;
                    color: #4285f4;
                    cursor: pointer;
                }

            button[type="submit"] {
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 24px;
                background-color: #4285f4;
                color: white;
                cursor: pointer;
                display: flex;
                align-items: center;
            }

                button[type="submit"] i {
                    margin-right: 5px; /* Khoảng cách giữa icon và chữ "Tìm kiếm" */
                }

        </style>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const rows = document.querySelectorAll('.document-row');

                // Load highlighted rows from LocalStorage
                const highlightedIds = JSON.parse(localStorage.getItem('highlightedRowIds')) || [];
                highlightedIds.forEach(id => {
                    const highlightedRow = document.querySelector(`tr[data-id='${id}']`);
                    if (highlightedRow) {
                        highlightedRow.classList.add('highlight');
                    }
                });

                // Add click event to rows
                rows.forEach(row => {
                    row.addEventListener('click', function () {
                        const rowId = this.getAttribute('data-id');
                        if (this.classList.contains('highlight')) {
                            this.classList.remove('highlight');
                            const index = highlightedIds.indexOf(rowId);
                            if (index > -1) {
                                highlightedIds.splice(index, 1);
                            }
                        } else {
                            this.classList.add('highlight');
                            highlightedIds.push(rowId);
                        }
                        localStorage.setItem('highlightedRowIds', JSON.stringify(highlightedIds));
                    });
                });
            });

            // Xử lý click chuyển đổi ảnh
            document.addEventListener('DOMContentLoaded', () => {
                const carouselItems = document.querySelectorAll('.carousel-item');
                let currentIndex = 0; // Biến để theo dõi chỉ số hiện tại

                // Hàm để chuyển đổi banner
                function showBanner(index) {
                    // Ẩn tất cả các banner
                    carouselItems.forEach((item, i) => {
                        item.classList.remove('active');
                    });
                    // Hiển thị banner tại chỉ số hiện tại
                    carouselItems[index].classList.add('active');
                }

                // Lắng nghe sự kiện nhấn vào nút trước
                document.querySelector('.carousel-control-prev').addEventListener('click', () => {
                    currentIndex = (currentIndex === 0) ? carouselItems.length - 1 : currentIndex - 1; // Chuyển về banner trước
                    showBanner(currentIndex);
                });

                // Lắng nghe sự kiện nhấn vào nút tiếp theo
                document.querySelector('.carousel-control-next').addEventListener('click', () => {
                    currentIndex = (currentIndex === carouselItems.length - 1) ? 0 : currentIndex + 1; // Chuyển đến banner tiếp theo
                    showBanner(currentIndex);
                });
            });

            //Hiệu ứng tự động chuyển động ảnh
            document.addEventListener("DOMContentLoaded", function () {
                const carouselItems = document.querySelectorAll('.carousel-item');
                let currentIndex = 0;
                const intervalTime = 3000; // Thời gian chuyển đổi (5 giây)

                function showNextItem() {
                    carouselItems[currentIndex].classList.remove('active');
                    currentIndex = (currentIndex + 1) % carouselItems.length; // Chuyển đến hình tiếp theo
                    carouselItems[currentIndex].classList.add('active');
                }

                // Thiết lập chuyển đổi tự động
                setInterval(showNextItem, intervalTime);

                // Thêm hiệu ứng khi di chuột vào các nút điều hướng
                const prevButton = document.querySelector('.carousel-control-prev');
                const nextButton = document.querySelector('.carousel-control-next');

                prevButton.addEventListener('mouseover', function () {
                    prevButton.style.opacity = '0.7'; // Giảm độ trong suốt khi di chuột
                });

                prevButton.addEventListener('mouseout', function () {
                    prevButton.style.opacity = '1'; // Khôi phục độ trong suốt
                });

                nextButton.addEventListener('mouseover', function () {
                    nextButton.style.opacity = '0.7'; // Giảm độ trong suốt khi di chuột
                });

                nextButton.addEventListener('mouseout', function () {
                    nextButton.style.opacity = '1'; // Khôi phục độ trong suốt
                });
            });
        </script>
        <script>
            let isRecording = false;
            let mediaRecorder;
            let audioChunks = [];

            // Hàm khởi tạo MediaRecorder
            function initializeRecorder() {
                return navigator.mediaDevices.getUserMedia({ audio: true })
                    .then(stream => {
                        mediaRecorder = new MediaRecorder(stream);
                        mediaRecorder.ondataavailable = event => {
                            audioChunks.push(event.data);
                        };

                        // Reset audioChunks khi bắt đầu ghi âm mới
                        mediaRecorder.onstart = () => {
                            audioChunks = [];
                        };

                        // Khi kết thúc ghi âm, gửi dữ liệu lên server
                        mediaRecorder.onstop = () => {
                            const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                            const formData = new FormData();
                            formData.append('audioFile', audioBlob, 'audio.wav');

                            // Gửi âm thanh lên server qua POST
                            fetch('/User/UploadAudio', {
                                method: 'POST',
                                body: formData
                            })
                                .then(response => response.ok ? response.json() : Promise.reject('Server error'))
                                .then(data => {
                                    if (data.result) {
                                        const result = data.result.trim().replace(/[\s.]*$/, '');
                                        document.getElementById("searchInput").value = result; // Điền kết quả vào ô tìm kiếm
                                    } else if (data.error) {
                                        showMessage("Error: " + data.error);
                                    }
                                })
                                .catch(error => {
                                    showMessage("Error: " + error);
                                });
                        };
                    })
                    .catch(error => {
                        console.error("Error accessing microphone:", error);
                        showMessage("Error accessing microphone: " + error.message);
                    });
            }

            // Hàm hiển thị thông báo
            function showMessage(message) {
                alert(message); // Có thể thay đổi thành phương thức hiển thị đẹp hơn
            }

            // Hàm bắt đầu/dừng ghi âm
            function startRecording() {
                if (isRecording) {
                    // Dừng ghi âm
                    mediaRecorder.stop();
                    document.getElementById("microphoneIcon").classList.remove("fa-stop");
                    document.getElementById("microphoneIcon").classList.add("fa-microphone");
                    isRecording = false;
                } else {
                    if (!mediaRecorder) {
                        // Nếu mediaRecorder chưa được khởi tạo, khởi tạo lại
                        initializeRecorder()
                            .then(() => {
                                mediaRecorder.start();
                                isRecording = true;
                                document.getElementById("microphoneIcon").classList.remove("fa-microphone");
                                document.getElementById("microphoneIcon").classList.add("fa-stop");
                            });
                    } else {
                        // Nếu mediaRecorder đã tồn tại, chỉ cần bắt đầu ghi âm
                        mediaRecorder.start();
                        isRecording = true;
                        document.getElementById("microphoneIcon").classList.remove("fa-microphone");
                        document.getElementById("microphoneIcon").classList.add("fa-stop");
                    }
                }
            }

        </script>
