﻿@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Luatgiaothongchitiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DbDacnContext _context = new DbDacnContext();
}
@model System.ValueTuple<Vanban, List<Chuong>, List<DieuLuat>, List<DieuKhoan>, List<DieuKhoanThanhPhan>, List<BosungVanban>>
<div class="container">
    <div class="content paper-frame">
        <div class="content">
            <div class="top-div">
                <div class="left-part">
                    <h4><strong>@Model.Item1.Coquanphathanh</strong></h4>
                    <h5>Số: <strong>@Model.Item1.Sohieuvanban</strong></h5>
                </div>
                <div class="right-part">
                    <h4><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></h4>
                    <h4><strong>Độc lập - Tự do - Hạnh phúc</strong></h4>
                </div>
            </div>
            <center>
                <div>
                    @{
                        var tenLoaiVanBan = _context.LoaiVanBans
                        .Where(p => p.Idloaivb == Model.Item1.IdloaiVanBan)
                        .Select(p => p.TenLoaivb)
                        .FirstOrDefault();
                    }
                    <h3><strong>@tenLoaiVanBan</strong></h3>
                    <h3><strong>@Model.Item1.Ten</strong></h3>
                </div>
            </center>
            <div class="">
                @{
                    string content = "";
                    foreach (BosungVanban item in @Model.Item6)
                    {
                        if (item.IdloaiBs == 1)
                        {
                            content += item.Noidung + "<br />";
                        }
                    }
                    if(content != "")
                    {
                        <p>
                            <i>@Html.Raw(content)</i>
                        </p>
                    }
                    
                }
            </div>
            <div id="content">
                <ul id="chuong">
                    @for (int i = 0; i < Model.Item2.Count; i++)
                    {
                        <center>
                            <h4 id="@i.ToString()chuong"><strong>@Model.Item2[i].Ten</strong></h4>
                        </center>
                        <ul>
                            @foreach (var dieuluat in Model.Item3.Where(dl => dl.Idchuong == @Model.Item2[i].Idchuong))
                            {
                                <li>
                                    <p id="@i.ToString()dieu"><strong>@dieuluat.Noidung</strong></p>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <details>
                                            @{
                                                var note = ViewBag.NoteList as List<Ghichu>;
                                                var matchingNote = note?.FirstOrDefault(item => item.Iddl == dieuluat.Iddl);
                                            }
                                            @if (matchingNote != null)
                                            {
                                                <summary><span style="color: blue; font-weight: bold;">Ghi chú</span></summary>
                                                <form action="@Url.Action("Chinhsuaghichu", "User")" method="post">
                                                    <textarea name="noidung" placeholder="Nhập nội dung ghi chú" rows="3">@matchingNote.Noidung</textarea>
                                                    <input type="hidden" name="idghichu" value="@matchingNote.Id" />
                                                    <input type="hidden" name="idVanban" value="@Model.Item1.Idvb" />
                                                    <button type="submit">Lưu</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <summary>Ghi chú</summary>
                                                <form action="@Url.Action("ThemghichuDieuluat", "User")" method="post">
                                                    <input type="hidden" name="idDieuluat" value="@dieuluat.Iddl" />
                                                    <textarea name="noidung" placeholder="Nhập nội dung ghi chú" rows="3"></textarea>
                                                    <button type="submit">Lưu</button>
                                                </form>
                                            }
                                        </details>

                                    }
                                </li>
                                <ul>
                                    @foreach (var dieukhoan in Model.Item4.Where(dk => dk.Iddl == dieuluat.Iddl))
                                    {
                                        <li>
                                            @dieukhoan.Noidung
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <details>
                                                    @{
                                                        var note1 = ViewBag.NoteList as List<Ghichu>;
                                                        var matchingNote1 = note1?.FirstOrDefault(item => item.Iddk == dieukhoan.Iddk);
                                                    }
                                                    @if (matchingNote1 != null)
                                                    {
                                                        <summary><span style="color: #FFCC00; font-weight: bold;">Ghi chú</span></summary>
                                                        <form action="@Url.Action("Chinhsuaghichu", "User")" method="post">
                                                            <textarea name="noidung" placeholder="Nhập nội dung ghi chú" rows="3">@matchingNote1.Noidung</textarea>
                                                            <input type="hidden" name="idghichu" value="@matchingNote1.Id" />
                                                            <input type="hidden" name="idVanban" value="@Model.Item1.Idvb" />
                                                            <button type="submit">Lưu</button>
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <summary>Ghi chú</summary>
                                                        <form action="@Url.Action("ThemghichuDieukhoan", "User")" method="post">
                                                            <input type="hidden" name="idDieukhoan" value="@dieukhoan.Iddk" />
                                                            <textarea name="noidung" placeholder="Nhập nội dung ghi chú" rows="3"></textarea>
                                                            <button type="submit">Lưu</button>
                                                        </form>
                                                    }
                                                </details>

                                            }
                                        </li>
                                        <ul>
                                            @foreach (var dieukhoanthanhphan in Model.Item5.Where(tk => tk.Iddk == dieukhoan.Iddk))
                                            {
                                                <li>
                                                    @dieukhoanthanhphan.Noidung
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <details>
                                                            @{
                                                                var note2 = ViewBag.NoteList as List<Ghichu>;
                                                                var matchingNote2 = note2?.FirstOrDefault(item => item.Iddktp == dieukhoanthanhphan.Iddktp);
                                                            }
                                                            @if (matchingNote2 != null)
                                                            {
                                                                <summary><span style="color: #FFCC00; font-weight: bold;">Ghi chú</span></summary>
                                                                <form action="@Url.Action("Chinhsuaghichu", "User")" method="post">
                                                                    <textarea name="noidung" placeholder="Nhập nội dung ghi chú" rows="3">@matchingNote2.Noidung</textarea>
                                                                    <input type="hidden" name="idghichu" value="@matchingNote2.Id" />
                                                                    <input type="hidden" name="idVanban" value="@Model.Item1.Idvb" />
                                                                    <button type="submit">Lưu</button>
                                                                </form>
                                                            }
                                                            else
                                                            {
                                                                <summary>Ghi chú</summary>
                                                                <form action="@Url.Action("ThemghichuDieukhoantp", "User")" method="post">
                                                                    <input type="hidden" name="idDieukhoantp" value="@dieukhoanthanhphan.Iddktp" />
                                                                    <textarea name="noidung" placeholder="Nhập nội dung ghi chú" rows="3"></textarea>
                                                                    <button type="submit">Lưu</button>
                                                                </form>
                                                            }
                                                        </details>

                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </ul>
                            }
                        </ul>
                    }
                </ul>
            </div>
            <div>
                @{
                    string content1 = "";
                    foreach (BosungVanban item in @Model.Item6)
                    {
                        if (item.IdloaiBs == 2)
                        {
                            content1 += "- " + item.Noidung + "<br />";
                        }
                    }
                    if (content1 != "")
                    {
                        <p>
                            <strong>Nơi nhận:</strong>
                            <br>
                            <i>@Html.Raw(content1)</i>
                        </p>
                    }
                }
            </div>
            <div class="footer-content" style="display: flex; justify-content: flex-end; padding: 20px 0; margin-left: 20px;">
                <div>
                    <p><strong>@Model.Item1.ChucvuNguoikibanhanh </strong></p>
                    <p style="text-align:center"><strong>@Model.Item1.Nguoikibanhanh</strong></p>
                </div>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                <a class="btn btn-primary" style="background-color: #007bff; color: #fff;" href="@Url.Action("SaveFile", "User", new { idvb = Model.Item1.Idvb })">Tải văn bản</a>
            </div>
        </div>
    </div>
</div>
<style>
    .top-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px;
    }

    .left-part, .right-part {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    textarea {
        width: 300px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        resize: vertical;
    }

    .note-button {
        background-color: #f1f1f1;
        border: none;
        color: #000;
        padding: 3px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin-top: 5px;
        margin-right: 10px;
    }

    details {
        margin-bottom: 10px;
    }

    .footer-content {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0;
    }

    .btn-primary {
        background-color: gray;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
    }

    h4, h5, h6 {
        margin: 5px 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    .content-wrapper {
        border: 1px solid #ccc; /* Đường viền xung quanh */
        border-radius: 8px; /* Bo góc */
        padding: 20px; /* Khoảng cách bên trong */
        background-color: #f9f9f9; /* Màu nền của khung */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    }

    .paper-frame {
        background-color: white; /* Màu nền trắng */
        border: 2px solid #ccc; /* Đặt viền dày hơn (2px) */
        border-radius: 8px; /* Bo tròn góc */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
        padding: 20px; /* Khoảng cách bên trong */
        margin: 20px; /* Khoảng cách bên ngoài */
</style>