﻿@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<WebTracuuLuatGiaoThong.Models.Vanban>
@{
	ViewData["Title"] = "Luatgiaothong";
	Layout = "~/Views/Shared/_Layout.cshtml";
	DbDacnContext _context = new DbDacnContext();
}
<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
		<h1 class="display-4">Tra cứu Luật Giao Thông</h1>
		<p class="lead">Nhanh chóng và chính xác</p>
	</div>
</div>
@* @model IEnumerable<WebTracuuLuatGiaoThong.Models.Vanban> *@
<div class="container">
	<div class="content">
		@* <div class="search-container">
			<form asp-controller="User" asp-action="Luatgiaothong" method="get">
				<div class="input-with-icon">
					<input id="searchInput" type="text" class="form-control" name="searchText" placeholder="Tìm kiếm theo số hiệu, cơ quan, tên..." value="@ViewBag.SearchText" />
					<i class="fas fa-microphone" id="microphoneIcon" onclick="startRecording()"></i>
				</div>
				<button type="submit" name="Find">
					<i class="fas fa-search"></i> Tìm kiếm
				</button>
			</form>
		</div> *@

		<div class="search-container">
			<form asp-controller="User" asp-action="Luatgiaothong" method="get">
				<div class="input-with-icon">
					<input id="searchInput" type="text" class="form-control" name="searchText" placeholder="Tìm kiếm theo số hiệu, cơ quan, tên..." value="@ViewBag.SearchText" />
					<i class="fas fa-microphone" id="microphoneIcon" onclick="startRecording()"></i>
				</div>
				<button type="submit" name="Find">
					<i class="fas fa-search"></i> Tìm kiếm
				</button>
			</form>
		</div>

		<div class="block-content">
			@{
				int count = 1;
			}
			@foreach (var vanban in Model.OrderByDescending(x => x.Idvb))
			{
				var tenloai = _context.LoaiVanBans.FirstOrDefault(p => p.Idloaivb == vanban.IdloaiVanBan);
				<article class="document-item">
					<div class="doc-cot1">
						<span class="doc-number">@count</span>
					</div>
					<div class="doc-cot2">
						<div class="post-doc">
							<div class="post-left-doc">
								<h2 class="document-title">
									<a href="@Url.Action("Luatgiaothongchitiet", "User", new { id = vanban.Idvb }) ">
										@tenloai.TenLoaivb số @vanban.Sohieuvanban của @vanban.Coquanphathanh @vanban.Ten
									</a>
								</h2>
							</div>
							<div class="post-right-doc">
								<div class="Ngaybanhanh">
									<span class="right-doc-1">Ngày ban hành:</span>
									<span class="right-doc-2">@vanban.Ngaybanhanh</span>
								</div>
								<div class="Ngaycapnhap">
									<span class="right-doc-1">Ngày cập nhập:</span>
									<span class="right-doc-2">@vanban.Ngaycapnhat</span>
								</div>
							</div>
						</div>
					</div>
				</article>
				count++;
			}
		</div>
		<!-- Nút phân trang -->
		<div class="pagination-container">
			<a class="pagination-control @(!Model.HasPreviousPage ? "disabled" : "")"
			   href="@(!Model.HasPreviousPage ? "#" : Url.Action("Luatgiaothong", new { page = Model.PageNumber - 1 }))">
				<span class="arrow">&lt;</span> <!-- Mũi tên trái -->
			</a>

			@for (int i = 1; i <= Model.PageCount; i++)
			{
				<a class="pagination-control @((i == Model.PageNumber) ? "active" : "")"
				   href="@Url.Action("Luatgiaothong", new { page = i })">
					@i
				</a>
			}

			<a class="pagination-control @(!Model.HasNextPage ? "disabled" : "")"
			   href="@(!Model.HasNextPage ? "#" : Url.Action("Luatgiaothong", new { page = Model.PageNumber + 1 }))">
				<span class="arrow">&gt;</span> <!-- Mũi tên phải -->
			</a>
		</div>
	</div>
</div>

<style>
	.highlight {
		background-color: yellow !important;
	}
	/* CSS cho phần tử chứa nút phân trang */
	.pagination-container {
		text-align: center; /* Căn giữa nút phân trang */
		margin-top: 20px; /* Khoảng cách từ phần trên của trang */
	}

	/* CSS cho các phần tử của nút phân trang */
	.pagination {
		display: inline-block; /* Hiển thị nút phân trang dưới dạng khối nằm cạnh nhau */
		padding-left: 0; /* Xóa padding mặc định của danh sách */
		margin: 0; /* Xóa margin mặc định của danh sách */
		border-radius: 4px; /* Bo tròn các góc của nút phân trang */
	}

	.page-item {
		display: inline; /* Hiển thị các mục trang dưới dạng dòng liên tiếp nhau */
		margin-right: 5px; /* Khoảng cách giữa các mục trang */
	}

	.page-link {
		position: relative; /* Đặt vị trí tương đối cho các liên kết */
		display: block; /* Hiển thị dưới dạng khối */
		padding: 0.5rem 0.75rem; /* Padding cho mỗi mục trang */
		color: #007bff; /* Màu chữ */
		background-color: #ffffff; /* Màu nền */
		border: 1px solid #dee2e6; /* Viền */
	}

		.page-link:hover {
			z-index: 2; /* Tăng z-index để nút phân trang hiển thị trên cùng */
			color: #0056b3; /* Màu chữ khi di chuột qua */
			text-decoration: none; /* Loại bỏ gạch chân */
			background-color: #e9ecef; /* Màu nền khi di chuột qua */
			border-color: #dee2e6; /* Viền khi di chuột qua */
		}

	/* Tùy chỉnh giao diện thanh tìm kiếm */
	.search-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	form {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 700px; /* Độ rộng tối đa */
	}

	.input-with-icon {
		position: relative;
		flex: 1;
		margin-right: 10px;
	}

		/* Cải thiện input */
		.input-with-icon input[type="text"] {
			width: 100%;
			padding: 12px 40px 12px 15px;
			font-size: 16px;
			border: 2px solid #4285f4;
			border-radius: 25px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
			transition: border-color 0.3s, box-shadow 0.3s;
		}

			.input-with-icon input[type="text"]:focus {
				border-color: #357ae8;
				box-shadow: 0px 4px 12px rgba(53, 122, 232, 0.3);
				outline: none;
			}

		/* Biểu tượng microphone */
		.input-with-icon i {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 18px;
			color: #4285f4;
			cursor: pointer;
			transition: color 0.3s;
		}

			.input-with-icon i:hover {
				color: #357ae8;
			}

	/* Cải thiện nút tìm kiếm */
	button[type="submit"] {
		padding: 12px 24px;
		font-size: 16px;
		border: none;
		border-radius: 25px;
		background-color: #4285f4;
		color: white;
		cursor: pointer;
		display: flex;
		align-items: center;
		transition: background-color 0.3s, transform 0.3s;
	}

		button[type="submit"]:hover {
			background-color: #357ae8;
			transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ */
		}

		button[type="submit"] i {
			margin-right: 8px;
		}

	/* Hiệu ứng cho các phần tử trong trang */
	.pagination-container {
		text-align: center;
		margin-top: 20px;
	}

	.pagination-control {
		display: inline-block;
		margin: 0 5px;
		padding: 10px 15px;
		border-radius: 30px;
		cursor: pointer;
		color: #4285f4;
		background-color: white;
		border: 1px solid #ddd;
		transition: background-color 0.3s, color 0.3s;
	}

		.pagination-control:hover {
			background-color: #f1f1f1;
			color: #357ae8;
		}

		.pagination-control.active {
			background-color: #4285f4;
			color: white;
		}

</style>
<script>
	let isRecording = false;
	let mediaRecorder;
	let audioChunks = [];

	// Hàm khởi tạo MediaRecorder
	function initializeRecorder() {
		return navigator.mediaDevices.getUserMedia({ audio: true })
			.then(stream => {
				mediaRecorder = new MediaRecorder(stream);
				mediaRecorder.ondataavailable = event => {
					audioChunks.push(event.data);
				};

				// Reset audioChunks khi bắt đầu ghi âm mới
				mediaRecorder.onstart = () => {
					audioChunks = [];
				};

				// Khi kết thúc ghi âm, gửi dữ liệu lên server
				mediaRecorder.onstop = () => {
					const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
					const formData = new FormData();
					formData.append('audioFile', audioBlob, 'audio.wav');

					// Gửi âm thanh lên server qua POST
					fetch('/User/UploadAudio', {
						method: 'POST',
						body: formData
					})
						.then(response => response.ok ? response.json() : Promise.reject('Server error'))
						.then(data => {
							if (data.result) {
								const result = data.result.trim().replace(/[\s.]*$/, '');
								document.getElementById("searchInput").value = result; // Điền kết quả vào ô tìm kiếm
							} else if (data.error) {
								showMessage("Error: " + data.error);
							}
						})
						.catch(error => {
							showMessage("Error: " + error);
						});
				};
			})
			.catch(error => {
				console.error("Error accessing microphone:", error);
				showMessage("Error accessing microphone: " + error.message);
			});
	}

	// Hàm hiển thị thông báo
	function showMessage(message) {
		alert(message); // Có thể thay đổi thành phương thức hiển thị đẹp hơn
	}

	// Hàm bắt đầu/dừng ghi âm
	function startRecording() {
		if (isRecording) {
			// Dừng ghi âm
			mediaRecorder.stop();
			document.getElementById("microphoneIcon").classList.remove("fa-stop");
			document.getElementById("microphoneIcon").classList.add("fa-microphone");
			isRecording = false;
		} else {
			if (!mediaRecorder) {
				// Nếu mediaRecorder chưa được khởi tạo, khởi tạo lại
				initializeRecorder()
					.then(() => {
						mediaRecorder.start();
						isRecording = true;
						document.getElementById("microphoneIcon").classList.remove("fa-microphone");
						document.getElementById("microphoneIcon").classList.add("fa-stop");
					});
			} else {
				// Nếu mediaRecorder đã tồn tại, chỉ cần bắt đầu ghi âm
				mediaRecorder.start();
				isRecording = true;
				document.getElementById("microphoneIcon").classList.remove("fa-microphone");
				document.getElementById("microphoneIcon").classList.add("fa-stop");
			}
		}
	}

</script>
