﻿@{
	ViewData["Title"] = "Ketquatimkiem";
	Layout = "~/Views/Shared/_Layout.cshtml";
	DbDacnContext _context = new DbDacnContext();
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model System.ValueTuple<List<Tintuc>, List<Vanban>>

<div class="container">
	<div class="content">
		@* <div class="search-container">
			<form asp-action="TimKiem" method="get">
				<input type="search" name="text" placeholder="Tìm kiếm" />
				<button type="submit" name="Find">Tìm kiếm</button>
			</form>
		</div> *@
		<div class="search-container">
			<form asp-action="TimKiem" method="get">
				<div class="input-with-icon">
					<input id="searchInput" type="search" name="text" placeholder="Tìm kiếm" required />
					<i class="fas fa-microphone" id="microphoneIcon" onclick="startRecording()"></i>
				</div>
				<button type="submit" name="Find">
					<i class="fas fa-search"></i> Tìm kiếm
				</button>
			</form>
		</div>
		@if (Model.Item1.Count != 0)
		{
			<table class="table">
				<thead>
					<tr>
						<th>STT</th>
						<th>Tác giả</th>
						<th>Tin tức</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@{
						int count = 1;
					}
					@foreach (var tintuc in Model.Item1.OrderByDescending(x => x.Idtintuc))
					{
						<tr>
							<td style="text-align: center;">
								<p>@count</p>
							</td>
							<td>
								<p>@tintuc.Iduser</p>
							</td>
							<td>
								<a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc }) " style="text-decoration: none; color: #000;">
									@tintuc.Ten <br /> @(tintuc.Noidung.Length > 20 ? tintuc.Noidung.Substring(0, 20) + "..." : tintuc.Noidung)
								</a>
							</td>
							<td>Ngày cập nhật: @tintuc.Ngaycapnhat</td>
						</tr>
						count++;
					}

				</tbody>
			</table>
		}
		else
		{
			<tr>
				<td colspan="2">Không có tin tức phù hợp</td>
			</tr>
		}
		@if (Model.Item2.Count != 0)
		{
			<table class="table">
				<thead>
					<tr>
						<th>STT</th>
						<th>Văn bản</th>
						<th></th>
					</tr>
				</thead>
				<tbody>

					@{
						int count1 = 1;
					}
					@foreach (var vanban in Model.Item2.OrderByDescending(x => x.Idvb))
					{
						var tenloai = _context.LoaiVanBans.FirstOrDefault(p => p.Idloaivb == vanban.IdloaiVanBan);
						<tr>
							<td style="text-align: center;">
								<p>@count1</p>
							</td>
							<td>
								<a href="@Url.Action("Luatgiaothongchitiet", "User", new { id = vanban.Idvb })" style="text-decoration: none; color: #000;">
									@tenloai.TenLoaivb số @vanban.Sohieuvanban của @vanban.Coquanphathanh @vanban.Ten
								</a>
							</td>
							<td>
								<a href="@Url.Action("Luatgiaothongchitiet", "User", new { id = vanban.Idvb })" style="text-decoration: none; color: #000;">
									Ngày phát hành: @vanban.Ngaybanhanh <br /> Ngày cập nhật: @vanban.Ngaycapnhat
								</a>
							</td>
						</tr>

						count1++;
					}

				</tbody>
			</table>
		}
		else
		{
			<tr>
				<td colspan="2">Không có văn bản phù hợp</td>
			</tr>
		}
	</div>
</div>
<script>
	let isRecording = false;
	let mediaRecorder;
	let audioChunks = [];

	// Hàm khởi tạo MediaRecorder
	function initializeRecorder() {
		return navigator.mediaDevices.getUserMedia({ audio: true })
			.then(stream => {
				mediaRecorder = new MediaRecorder(stream);
				mediaRecorder.ondataavailable = event => {
					audioChunks.push(event.data);
				};

				// Reset audioChunks khi bắt đầu ghi âm mới
				mediaRecorder.onstart = () => {
					audioChunks = [];
				};

				// Khi kết thúc ghi âm, gửi dữ liệu lên server
				mediaRecorder.onstop = () => {
					const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
					const formData = new FormData();
					formData.append('audioFile', audioBlob, 'audio.wav');

					// Gửi âm thanh lên server qua POST
					fetch('/User/UploadAudio', {
						method: 'POST',
						body: formData
					})
						.then(response => response.ok ? response.json() : Promise.reject('Server error'))
						.then(data => {
							if (data.result) {
								const result = data.result.trim().replace(/[\s.]*$/, '');
								document.getElementById("searchInput").value = result; // Điền kết quả vào ô tìm kiếm
							} else if (data.error) {
								showMessage("Error: " + data.error);
							}
						})
						.catch(error => {
							showMessage("Error: " + error);
						});
				};
			})
			.catch(error => {
				console.error("Error accessing microphone:", error);
				showMessage("Error accessing microphone: " + error.message);
			});
	}

	// Hàm hiển thị thông báo
	function showMessage(message) {
		alert(message); // Có thể thay đổi thành phương thức hiển thị đẹp hơn
	}

	// Hàm bắt đầu/dừng ghi âm
	function startRecording() {
		if (isRecording) {
			// Dừng ghi âm
			mediaRecorder.stop();
			document.getElementById("microphoneIcon").classList.remove("fa-stop");
			document.getElementById("microphoneIcon").classList.add("fa-microphone");
			isRecording = false;
		} else {
			if (!mediaRecorder) {
				// Nếu mediaRecorder chưa được khởi tạo, khởi tạo lại
				initializeRecorder()
					.then(() => {
						mediaRecorder.start();
						isRecording = true;
						document.getElementById("microphoneIcon").classList.remove("fa-microphone");
						document.getElementById("microphoneIcon").classList.add("fa-stop");
					});
			} else {
				// Nếu mediaRecorder đã tồn tại, chỉ cần bắt đầu ghi âm
				mediaRecorder.start();
				isRecording = true;
				document.getElementById("microphoneIcon").classList.remove("fa-microphone");
				document.getElementById("microphoneIcon").classList.add("fa-stop");
			}
		}
	}

</script>
<style>
	.search-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	form {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 800px; /* Độ rộng tối đa của form */
	}

	.input-with-icon {
		position: relative;
		flex: 1; /* Đặt flex để ô input kéo dài */
		margin-right: 10px; /* Khoảng cách giữa ô input và nút tìm kiếm */
	}

		.input-with-icon input[type="search"] {
			width: 100%;
			padding: 10px 40px 10px 15px;
			font-size: 16px;
			border: 1px solid #ddd;
			border-radius: 24px;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
			outline: none;
		}

		.input-with-icon i {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 18px;
			color: #4285f4;
			cursor: pointer;
		}

	button[type="submit"] {
		padding: 10px 20px;
		font-size: 16px;
		border: none;
		border-radius: 24px;
		background-color: #4285f4;
		color: white;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

		button[type="submit"] i {
			margin-right: 5px; /* Khoảng cách giữa icon và chữ "Tìm kiếm" */
		}
</style>

