﻿@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<WebTracuuLuatGiaoThong.Models.Tintuc>
@{
	ViewData["Title"] = "Tintucmoi";
	Layout = "~/Views/Shared/_Layout.cshtml";
	DbDacnContext _context = new DbDacnContext();
}
@* @model IEnumerable<WebTracuuLuatGiaoThong.Models.Tintuc> *@


<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
		<h1 class="display-4">Tra cứu Luật Giao Thông</h1>
		<p class="lead">Tin tức mới</p>
	</div>
</div>
<div class="container">
	<div class="content">
		<form asp-controller="User" asp-action="Tintucmoi" method="get">
			<div class="search-container">
				<div class="input-with-icon">
					<input id="searchInput" type="text" class="form-control" name="searchText" placeholder="Tìm kiếm theo số hiệu, cơ quan, tên..." value="@ViewBag.SearchText" />
					<i class="fas fa-microphone" id="microphoneIcon" onclick="startRecording()"></i>
				</div>
				<button type="submit" name="Find">
					<i class="fas fa-search"></i> Tìm kiếm
				</button>
			</div>
		</form>

		<div class="articles-grid">
			@foreach (var tintuc in Model.OrderByDescending(x => x.Idtintuc))
			{
				<div class="news-item">
					<h5 class="news-title">
						<a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc })" class="news-link">
							@tintuc.Ten
						</a>
					</h5>
					<p class="news-content">
						@(tintuc.Noidung.Length > 20 ? tintuc.Noidung.Substring(0, 20) + "..." : tintuc.Noidung)
					</p>
					<p class="news-author"><strong>Tác giả:</strong> @tintuc.Iduser</p>
					<p class="news-date"><strong>Ngày cập nhật:</strong> @tintuc.Ngaycapnhat</p>
				</div>
			}
		</div>
		<!-- Nút phân trang -->
		<div class="pagination-container">
			<a class="pagination-control @(!Model.HasPreviousPage ? "disabled" : "")"
			   href="@(!Model.HasPreviousPage ? "#" : Url.Action("Tintucmoi", new { page = Model.PageNumber - 1 }))">
				<span class="arrow">&lt;</span> <!-- Mũi tên trái -->
			</a>

			@for (int i = 1; i <= Model.PageCount; i++)
			{
				<a class="pagination-control @((i == Model.PageNumber) ? "active" : "")"
				   href="@Url.Action("Tintucmoi", new { page = i })">
					@i
				</a>
			}

			<a class="pagination-control @(!Model.HasNextPage ? "disabled" : "")"
			   href="@(!Model.HasNextPage ? "#" : Url.Action("Tintucmoi", new { page = Model.PageNumber + 1 }))">
				<span class="arrow">&gt;</span> <!-- Mũi tên phải -->
			</a>
		</div>


	</div>
</div>

<style>
	.highlight {
		background-color: yellow !important;
	}
	/* CSS cho phần tử chứa nút phân trang */
	/* Phong cách cho Jumbotron */
	.jumbotron {
		background-color: #007bff;
		color: white;
		padding: 2rem 1rem;
		border-radius: 8px;
	}

	/* Phong cách cho ô tìm kiếm */
	.input-group {
		margin-bottom: 20px;
	}

		.input-group .form-control {
			border-radius: 0.25rem 0 0 0.25rem;
		}

		.input-group .btn-primary {
			border-radius: 0 0.25rem 0.25rem 0;
		}

	/* Bố cục dạng lưới cho các bài viết */
	.articles-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 20px;
	}

	/* Phong cách cho từng mục tin tức */
	.news-item {
		border: 1px solid #ddd;
		padding: 15px;
		border-radius: 8px;
		background-color: #f9f9f9;
		transition: transform 0.2s, box-shadow 0.2s;
	}

		.news-item:hover {
			transform: translateY(-5px);
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}

	/* Tiêu đề tin tức */
	.news-title {
		margin: 0;
		font-size: 1.2em;
		font-weight: bold;
		color: #333;
	}

	.news-link {
		text-decoration: none;
		color: #007bff;
	}

		.news-link:hover {
			color: #0056b3;
		}

	/* Nội dung và thông tin tin tức */
	.news-content, .news-author, .news-date {
		margin: 5px 0;
		font-size: 0.9em;
		color: #555;
	}

	/* Cải thiện giao diện thanh tìm kiếm và căn giữa */
	.search-container {
		display: flex;
		justify-content: center; /* Căn giữa theo chiều ngang */
		align-items: center;
		margin-top: 20px;
	}

	form {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1000px; /* Tăng độ rộng tối đa của form */
	}

	/* Thanh tìm kiếm dài hơn */
	.input-with-icon {
		position: relative;
		flex: 1; /* Làm cho ô input chiếm hết chiều rộng còn lại */
		margin-right: 10px;
	}

		/* Cải thiện ô input */
		.input-with-icon input[type="text"] {
			width: 100%; /* Đảm bảo input chiếm toàn bộ chiều rộng */
			padding: 12px 40px 12px 15px;
			font-size: 16px;
			border: 2px solid #4285f4;
			border-radius: 25px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
			transition: border-color 0.3s, box-shadow 0.3s;
		}

		/* Biểu tượng microphone */
		.input-with-icon i {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 18px;
			color: #4285f4;
			cursor: pointer;
			transition: color 0.3s;
		}

			.input-with-icon i:hover {
				color: #357ae8;
			}

	/* Cải thiện nút tìm kiếm */
	button[type="submit"] {
		padding: 12px 24px;
		font-size: 16px;
		border: none;
		border-radius: 25px;
		background-color: #4285f4;
		color: white;
		cursor: pointer;
		display: flex;
		align-items: center;
		transition: background-color 0.3s, transform 0.3s;
	}

		button[type="submit"]:hover {
			background-color: #357ae8;
			transform: scale(1.05);
		}

		button[type="submit"] i {
			margin-right: 8px;
		}

</style>
<script>
	let isRecording = false;
	let mediaRecorder;
	let audioChunks = [];

	// Hàm khởi tạo MediaRecorder
	function initializeRecorder() {
		return navigator.mediaDevices.getUserMedia({ audio: true })
			.then(stream => {
				mediaRecorder = new MediaRecorder(stream);
				mediaRecorder.ondataavailable = event => {
					audioChunks.push(event.data);
				};

				// Reset audioChunks khi bắt đầu ghi âm mới
				mediaRecorder.onstart = () => {
					audioChunks = [];
				};

				// Khi kết thúc ghi âm, gửi dữ liệu lên server
				mediaRecorder.onstop = () => {
					const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
					const formData = new FormData();
					formData.append('audioFile', audioBlob, 'audio.wav');

					// Gửi âm thanh lên server qua POST
					fetch('/User/UploadAudio', {
						method: 'POST',
						body: formData
					})
						.then(response => response.ok ? response.json() : Promise.reject('Server error'))
						.then(data => {
							if (data.result) {
								const result = data.result.trim().replace(/[\s.]*$/, '');
								document.getElementById("searchInput").value = result; // Điền kết quả vào ô tìm kiếm
							} else if (data.error) {
								showMessage("Error: " + data.error);
							}
						})
						.catch(error => {
							showMessage("Error: " + error);
						});
				};
			})
			.catch(error => {
				console.error("Error accessing microphone:", error);
				showMessage("Error accessing microphone: " + error.message);
			});
	}

	// Hàm hiển thị thông báo
	function showMessage(message) {
		alert(message); // Có thể thay đổi thành phương thức hiển thị đẹp hơn
	}

	// Hàm bắt đầu/dừng ghi âm
	function startRecording() {
		if (isRecording) {
			// Dừng ghi âm
			mediaRecorder.stop();
			document.getElementById("microphoneIcon").classList.remove("fa-stop");
			document.getElementById("microphoneIcon").classList.add("fa-microphone");
			isRecording = false;
		} else {
			if (!mediaRecorder) {
				// Nếu mediaRecorder chưa được khởi tạo, khởi tạo lại
				initializeRecorder()
					.then(() => {
						mediaRecorder.start();
						isRecording = true;
						document.getElementById("microphoneIcon").classList.remove("fa-microphone");
						document.getElementById("microphoneIcon").classList.add("fa-stop");
					});
			} else {
				// Nếu mediaRecorder đã tồn tại, chỉ cần bắt đầu ghi âm
				mediaRecorder.start();
				isRecording = true;
				document.getElementById("microphoneIcon").classList.remove("fa-microphone");
				document.getElementById("microphoneIcon").classList.add("fa-stop");
			}
		}
	}

</script>







