﻿@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<WebTracuuLuatGiaoThong.Models.Vanban>
@{
	ViewData["Title"] = "Vanbanmoi";
	Layout = "~/Views/Shared/_Layout.cshtml";
	DbDacnContext _context = new DbDacnContext();
}
@*
@model IEnumerable<WebTracuuLuatGiaoThong.Models.Vanban> *@
<style>
	.search-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}

	#search-box {
		width: 1100px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px 0 0 5px;
		outline: none;
		font-size: 16px;
	}

	#search-button {
		padding: 10px 20px;
		border: none;
		background-color: #007bff;
		color: white;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 16px;
		display: flex;
		align-items: center;
	}

		#search-button i {
			margin-right: 5px;
		}

		#search-button:hover {
			background-color: #0056b3;
		}

		#search-button:active {
			background-color: #004494;
		}
	.highlight {
		background-color: yellow !important;
	}

	.document-list {
		list-style-type: none; /* Không hiển thị dấu chấm */
		padding: 0; /* Xóa padding mặc định */
		margin: 0; /* Xóa margin mặc định */
	}

	.document-item {
		display: flex; /* Sử dụng flexbox để sắp xếp */
		align-items: center; /* Căn giữa dọc */
		padding: 10px; /* Khoảng cách bên trong */
		border-bottom: 1px solid #ddd; /* Kẻ đường dưới mỗi mục */
		margin-bottom: 10px; /* Khoảng cách giữa các mục */
	}

	.stt {
		border: 1px solid #007bff; /* Viền cho STT */
		border-radius: 50%; /* Bo tròn */
		width: 30px; /* Kích thước cố định */
		height: 30px; /* Kích thước cố định */
		display: flex; /* Sử dụng flexbox */
		align-items: center; /* Căn giữa dọc */
		justify-content: center; /* Căn giữa ngang */
		color: #007bff; /* Màu chữ STT */
		margin-right: 10px; /* Khoảng cách giữa STT và nội dung */
		flex-shrink: 0; /* Ngăn không cho STT co lại */
	}
	.document-item {
		display: flex; /* Sử dụng flexbox để sắp xếp */
		align-items: flex-start; /* Căn trên cùng để các phần tử không bị lệch */
		padding: 10px; /* Khoảng cách bên trong */
		border-bottom: 1px solid #ddd; /* Kẻ đường dưới mỗi mục */
		margin-bottom: 10px; /* Khoảng cách giữa các mục */
		justify-content: space-between; /* Để tạo khoảng cách giữa document content và date details */
	}

	.date-details {
		margin-left: 20px; /* Khoảng cách giữa nội dung và date-details */
		text-align: right; /* Căn chỉnh văn bản bên phải */
		font-size: 0.9em; /* Kích thước chữ */
		color: #555;
		flex-shrink: 0; /* Ngăn không cho phần này co lại */
	}

		.date-details span {
			display: block; /* Đặt mỗi ngày vào dòng riêng */
			margin-top: 2px; /* Khoảng cách giữa các ngày */
		}
	.document-content {
		flex-grow: 1; /* Làm cho nội dung chiếm không gian còn lại */
	}

	.document-details {
		display: flex; /* Sử dụng flexbox để căn chỉnh */
		flex-direction: column; /* Đặt các mục trong cột */
		margin-top: 5px; /* Khoảng cách phía trên */
		font-size: 0.9em; /* Kích thước chữ */
		color: #555; /* Màu chữ */
	}

	.button {
		margin-top: 5px; /* Khoảng cách trên giữa nút tải xuống và nội dung */
	}
</style>

<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
		<h1 class="display-4">Tra cứu Luật Giao Thông</h1>
		<p class="lead">Văn Bản Mới</p>
	</div>
</div>
<div class="container">
	<div class="content">
		<form asp-controller="User" asp-action="Vanbanmoi" method="get">
			<div class="input-group">
				<label for="filterBy" class="input-group-text" style="font-size: 1rem;">Tìm kiếm theo</label>
				<select name="filterBy" id="filterBy" class="form-control" onchange="toggleInputFields()">
					<option value="coquan">Cơ Quan</option>
					<option value="sohieu">Số Hiệu</option>
					<option value="tenvanban">Tên Văn Bản</option>
				</select>
				<input type="text" class="form-control" name="searchText" placeholder="Tìm kiếm..." value="@ViewBag.SearchText" />
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search"></i> Tìm kiếm
				</button>
			</div>
		</form>
		<div class="block-content">
			<ul class="document-list">
				@{
					int count = 1;
				}
				@foreach (var vanban in Model.OrderByDescending(x => x.Idvb))
				{
					var tenloai = _context.LoaiVanBans.FirstOrDefault(p => p.Idloaivb == vanban.IdloaiVanBan);
					<li class="document-item" data-id="@vanban.Idvb">
						<span class="stt">@count</span>
						<div class="document-content">
							<a href="@Url.Action("Luatgiaothongchitiet", "User", new { id = vanban.Idvb })" class="document-link">
								<strong>@tenloai.TenLoaivb số @vanban.Sohieuvanban của @vanban.Coquanphathanh @vanban.Ten</strong>
							</a>
							<div class="document-details">
								<!-- Nút tải xuống -->
								<div class="	button">
									<a href="@Url.Action("SaveFile", "User", new { idvb = vanban.Idvb })" class="btn-download">
										<i class="fas fa-download"></i> Tải văn bản
									</a>
									<a href="@Url.Action("TranslateDocument", "User", new { idvb = vanban.Idvb })" class="btn-translate">
										<i class="fas fa-globe"></i> Dịch sang tiếng Anh
									</a>
								</div>
							</div>
						</div>
						<div class="date-details">
							<span><strong>Cơ quan phát hành:</strong> @vanban.Coquanphathanh</span>
							<span><strong>Ngày ban hành:</strong> @vanban.Ngaybanhanh</span>
							<span><strong>Ngày cập nhật:</strong> @vanban.Ngaycapnhat</span>
						</div>
					</li>
					count++;
				}
			</ul>
		</div>
		<!-- Nút phân trang -->
		<div class="pagination-container">
			<a class="pagination-control @(!Model.HasPreviousPage ? "disabled" : "")"
			   href="@(!Model.HasPreviousPage ? "#" : Url.Action("Vanbanmoi", new { page = Model.PageNumber - 1 }))">
				<span class="arrow">&lt;</span> <!-- Mũi tên trái -->
			</a>
			@for (int i = 1; i <= Model.PageCount; i++)
			{
				<a class="pagination-control @((i == Model.PageNumber) ? "active" : "")"
				   href="@Url.Action("Vanbanmoi", new { page = i })">
					@i
				</a>
			}
			<a class="pagination-control @(!Model.HasNextPage ? "disabled" : "")"
			   href="@(!Model.HasNextPage ? "#" : Url.Action("Vanbanmoi", new { page = Model.PageNumber + 1 }))">
				<span class="arrow">&gt;</span> <!-- Mũi tên phải -->
			</a>
		</div>
	</div>
</div>

<!-- CSS cho highlight -->
<style>
	.highlight {
		background-color: rgba(255, 255, 0, 0.3) !important; /* Màu vàng mờ */
	}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<!-- Script để highlight dòng khi click -->
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const rows = document.querySelectorAll('tbody tr');
		let dataRows = Array.from(rows);

		// Load highlighted rows from LocalStorage
		const highlightedIds = JSON.parse(localStorage.getItem('highlightedRowIds')) || [];
		highlightedIds.forEach(id => {
			const highlightedRow = document.querySelector(`tr[data-id='${id}']`);
			if (highlightedRow) {
				highlightedRow.classList.add('highlight');
			}
		});

		// Add click event to rows
		rows.forEach(row => {
			row.addEventListener('click', function () {
				const rowId = this.getAttribute('data-id');
				if (this.classList.contains('highlight')) {
					this.classList.remove('highlight');
					const index = highlightedIds.indexOf(rowId);
					if (index > -1) {
						highlightedIds.splice(index, 1);
					}
				} else {
					this.classList.add('highlight');
					highlightedIds.push(rowId);
				}
				localStorage.setItem('highlightedRowIds', JSON.stringify(highlightedIds));
			});
		});

		const searchBox = document.getElementById('search-box');

		searchBox.addEventListener('input', () => {
			const searchText = searchBox.value.trim().toLowerCase();
			const filteredRows = dataRows.filter(row => {
				const id = row.getAttribute('data-id');
				const name = row.querySelector('td:nth-child(2)').textContent.trim().toLowerCase();
				return id.includes(searchText) || name.includes(searchText);
			});

			rows.forEach(row => {
				if (filteredRows.includes(row)) {
					row.style.display = '';
				} else {
					row.style.display = 'none';
				}
			});
		});
	});
	//
</script>

