﻿@{
    ViewData["Title"] = "Themvanban";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model WebTracuuLuatGiaoThong.Models.Vanban

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Định dạng chung cho các nhãn và input */
        .form-group label,
        .form-group input,
        .form-group select {
            display: block;
            margin-bottom: 10px;
        }

        /* Định dạng cho các nhãn */
        .form-group label {
            font-weight: bold;
        }

        /* Định dạng cho các input */
        .form-group input,
        .form-group select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* Định dạng cho các nút */
        .btn-primary {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Định dạng cho các lỗi */
        .text-danger {
            color: red;
        }

        /* Định dạng cho phần tử select */
        .form-control {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* Định dạng cho các nhóm form */
        .form-container {
            max-width: 500px;
            margin: 0 auto;
        }

        /* Định dạng cho nút lưu */
        .btn-primary {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Định dạng cho các form */
        form {
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


    </style>
</head>
<body>
    <div class="content-wrapper">
        <div class="form-container">
            <h2 style="text-align:center">Nhập văn bản</h2>
            <form asp-action="AddVanban" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="IdloaiVanBan">Chọn loại văn bản</label>
                    <select asp-for="IdloaiVanBan" asp-items="ViewBag.ListLoaiVanBan" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Ten">Tên văn bản</label>
                    <input asp-for="Ten" class="form-control" required />
                    <span asp-validation-for="Ten" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sohieuvanban">Số hiệu văn bản</label>
                    <input asp-for="Sohieuvanban" class="form-control" required />
                    <span asp-validation-for="Sohieuvanban" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Noibanhanh">Nơi kí phát hành</label>
                    <input asp-for="Noibanhanh" class="form-control" required />
                    <span asp-validation-for="Noibanhanh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ngaybanhanh">Ngày ban hành</label>
                    <input asp-for="Ngaybanhanh" type="date" class="form-control" required />
                    <span asp-validation-for="Ngaybanhanh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ngaycapnhat">Ngày cập nhật</label>
                    <input asp-for="Ngaycapnhat" type="date" class="form-control" required value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                    <span asp-validation-for="Ngaycapnhat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Coquanphathanh">Cơ quan phát hành</label>
                    <input asp-for="Coquanphathanh" class="form-control" required />
                    <span asp-validation-for="Coquanphathanh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChucvuNguoikibanhanh">Chức vụ người kí văn bản</label>
                    <input asp-for="ChucvuNguoikibanhanh" class="form-control" required />
                    <span asp-validation-for="ChucvuNguoikibanhanh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nguoikibanhanh">Họ tên người kí văn bản</label>
                    <input asp-for="Nguoikibanhanh" class="form-control" required />
                    <span asp-validation-for="Nguoikibanhanh" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</body>
</html>
