﻿
@{
    ViewData["Title"] = "ConfirmRemoveUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string username = ViewBag.UserName;
    string userID = ViewBag.UserID;
}
<div>
    <h4>Bạn có muốn tiếp tục xóa người dùng có tên đăng nhập: @username</h4>
    <div class="mt-4">
        <a href="@Url.Action("ListUser", "Admin")" class="btn btn-secondary">Quay lại</a>
        <form action="@Url.Action("RemoveUser", "Admin" )" method="post" style="display: inline;">
            <input type="hidden" name="userId" value="@userID" />
            <button type="submit" class="btn btn-primary" style="background-color: #007bff; color: #fff;">Tiếp tục</button>
        </form>
    </div>
</div>

