﻿
@{
    ViewData["Title"] = "DeleteVanban";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model WebTracuuLuatGiaoThong.Models.Vanban

<div>
    <h4>Bạn có muốn tiếp tục xóa người dùng có tên đăng nhập: @Model.Ten?</h4>
    <div class="mt-4">
        <a href="@Url.Action("Vanban", "Admin")" class="btn btn-secondary">Quay lại</a>
        <form action="@Url.Action("CompleteDeleteVanban", "Admin" )" method="post" style="display: inline;">
            <input type="hidden" name="id" value="@Model.Idvb" />
            <button type="submit" class="btn btn-primary" style="background-color: #007bff; color: #fff;">Tiếp tục</button>
        </form>
    </div>
</div>

