﻿@{
    ViewData["Title"] = "Chỉnh Sửa Văn Bản";
}

<h2>Chỉnh Sửa Văn Bản: @ViewBag.FileName</h2>

<form method="post" action="@Url.Action("Save", "Document")">
    <textarea name="content" rows="10" cols="50">@Model</textarea>
    <input type="hidden" name="fileName" value="@ViewBag.FileName" />
    <br />
    <button type="submit">Lưu & Tải Xuống</button>
</form>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>

<textarea name="content" rows="10" cols="50" id="editor">@Model</textarea>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#editor',
        plugins: 'lists table link image',
        toolbar: 'undo redo | bold italic underline | bullist numlist | table | link image',
        height: 500,
        menubar: false
    });
</script>
