﻿@model IEnumerable<Azure.Storage.Blobs.Models.BlobItem>

<h2>Danh sách Blob</h2>

<table>
    <tr>
        <th>Tên Blob</th>
        <th>Ảnh</th>
    </tr>
    @foreach (var blob in Model)
    {
        <tr>
            <td>@blob.Name</td>
            <td>
                <img src="@Url.Action("GetImage", "Admin", new { blobName = blob.Name })" alt="@blob.Name" width="100" height="100" />
            </td>
        </tr>
    }
</table>    
<form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="Admin">
    <label>Chọn ảnh1:</label>
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>

<form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="Admin">
    <label>Chọn ảnh2:</label>
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>

