﻿
@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<dynamic>
<style>
    body {
        background-color: #f8f9fa; /* Màu xám nhẹ */
    }

    .container {
        background-color: #ffffff; /* Màu trắng */
        border-radius: 10px; /* Bo tròn viền */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
        padding: 20px;
        margin-top: 20px;
    }

    .centered-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="container">
    <div class="content">
        <h1 class="text-center">Danh sách người dùng</h1>
        <div class="table-responsive">
            <div class="search-container">
                <input type="search" id="search-box" placeholder="Tìm kiếm người dùng" />
            </div>
            <table class="table table-bordered" style="margin-top:20px">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tên đăng nhập</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Cấp tài khoản</th>
                        <th scope="col">Xóa người dùng</th>
                    </tr>
                </thead>
                <tbody id="user-table">
                    @foreach (var user in Model)
                    {
                        <tr class="user-row">
                            <td class="username">@user.UserName</td>
                            <td class="address">@user.Address</td>
                            <td>
                                <form action="@Url.Action("UpdateUserRole", "Admin")" method="post">
                                    <input type="hidden" name="userId" value="@user.UserId" />
                                    <div class="form-group">
                                        <select class="form-control" name="userType">
                                            <option value="User">Người dùng</option>
                                            <option value="Customer">Người đăng bài</option>
                                            <option value="Admin">Người quản lý</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Quyền hạn hiện tại:</label>
                                        @foreach (var role in ((dynamic)user).RoleNames)
                                        {
                                            if (@role == "User")
                                            {
                                                <span>Người dùng</span>
                                            }
                                            if (@role == "Customer")
                                            {
                                                <span>Người đăng bài</span>
                                            }
                                            if (@role == "Admin")
                                            {
                                                <span>Người quản lý</span>
                                            }

                                        }
                                    </div>
                                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                                </form>
                            </td>
                            <td class="centered-button">
                                <form action="@Url.Action("ConfirmRemoveUser", "Admin")" method="post">
                                    <input type="hidden" name="userId" value="@user.UserId" />
                                    <button type="submit" class="btn btn-danger" style="margin-top:30px">Xóa</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-success" href="/Identity/Account/Register">Thêm mới người dùng</a>
        </div>
    </div>
</div>

<script>
    document.getElementById('search-box').addEventListener('input', function () {
        const filter = this.value.toUpperCase();
        const rows = document.querySelectorAll('.user-row');
        rows.forEach(row => {
            const username = row.querySelector('.username').textContent.toUpperCase();
            const address = row.querySelector('.address').textContent.toUpperCase();
            if (username.indexOf(filter) > -1 || address.indexOf(filter) > -1) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>