﻿
@{
    ViewData["Title"] = "ListUserBan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    body {
        background-color: #f8f9fa; /* Màu xám nhẹ */
    }

    .container {
        background-color: #ffffff; /* Màu trắng */
        border-radius: 10px; /* Bo tròn viền */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
        padding: 20px;
        margin-top: 20px;
    }

    .centered-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="container mt-4">
    <div class="content">
        <h1 class="text-center">Danh sách người dùng bị cấm bình luận</h1>

        @if (ViewBag.ListUserBan == null)
        {
            <p>Không có dữ liệu người dùng bị cấm bình luận.</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Tên đăng nhập</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in ViewBag.ListUserBan)
                        {
                            <tr class="user-ban-row">
                                <td class="username">@user.UserName</td>
                                <td class="address">@user.Address</td>
                                <td>
                                    <form action="@Url.Action("DeleteBanComment", "Admin")" method="post">
                                        <input type="hidden" name="iduser" value="@user.Id" />
                                        <button type="submit" class="btn btn-danger">Xóa lệnh cấm bình luận</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>