﻿@* @using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Luatgiaothongchitiet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var _context = new DbDacnContext();
}

@model (Vanban, List<Chuong>, List<DieuLuat>, List<DieuKhoan>, List<DieuKhoanThanhPhan>, List<BosungVanban>)

<div class="container">
    <div class="row">
        <!-- Phần bên trái chiếm 3 phần, đặt trong khung (card) -->
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4>Tải hình ảnh:</h4>
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" id="fileInput" name="file" accept=".pdf, .jpg, .jpeg, .png" required class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Đọc nội dung</button>
                    </form>
                    <h5 class="mt-3">Nội dung:</h5>
                    <pre id="extractedText" style="white-space: pre-wrap; background-color: #f4f4f4; padding: 10px; border: 1px solid #ddd;"></pre>
                </div>
            </div>
        </div>

        <!-- Phần bên phải chiếm 9 phần, đặt trong khung (card) -->
        <div class="col-md-9">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h2><strong>@Model.Item1.Ten</strong></h2>
                        <h5><strong>Số @Model.Item1.Sohieuvanban của @Model.Item1.Coquanphathanh phát hành: @Model.Item1.Ngaybanhanh</strong></h5>
                    </div>
                    <div class="">
                        @{
                            string content = "";
                            foreach (BosungVanban item in @Model.Item6)
                            {
                                if (item.IdloaiBs == 1)
                                {
                                    content += item.Noidung + "\n";
                                }
                            }

                            <p>
                                <i>@content</i>
                            </p>
                        }

                    </div>
                    <ul class="list-unstyled">
                        @foreach (var chuong in Model.Item2)
                        {
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="d-flex justify-content-between align-items-center">
                                        <strong>@chuong.Ten</strong>
                                        <button class="toggle-button btn btn-secondary btn-sm" type="button" data-target="#chuong-@chuong.Idchuong">Ẩn/Hiện</button>
                                    </h4>
                                    <form asp-action="AddDieuluat" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label asp-for="Item3">Nội dung điều luật:</label>
                                            <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
                                            <textarea name="content" class="form-control" required></textarea>
                                            <input type="hidden" name="idchuong" value="@chuong.Idchuong" />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                                    </form>
                                </div>

                                <div id="chuong-@chuong.Idchuong" class="chuong-content">
                                    @foreach (var dieuluat in Model.Item3.Where(dl => dl.Idchuong == chuong.Idchuong))
                                    {
                                        <div class="card mt-3">
                                            <div class="card-body">
                                <li>@dieuluat.Noidung</li>
                                <form asp-action="AddDieukhoan" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label asp-for="Item4">Nội dung điều khoản:</label>
                                        <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
                                        <textarea name="content" class="form-control" required></textarea>
                                        <input type="hidden" name="iddl" value="@dieuluat.Iddl" />
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                                </form>
                        </div>

                        <div class="card mt-3">
                            <ul>
                                                    @foreach (var dieukhoan in Model.Item4.Where(dk => dk.Iddl == dieuluat.Iddl))
                                                    {
                                    <li>
                                                            @dieukhoan.Noidung
                                        <form asp-action="AddDieukhoanthanhphan" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label asp-for="Item5">Nội dung điều khoản thành phần:</label>
                                                <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
                                                <textarea name="content" class="form-control" required></textarea>
                                                <input type="hidden" name="iddk" value="@dieukhoan.Iddk" />
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                                        </form>
                                    </li>
                                                    }
                            </ul>
                        </div>
                    </div>
                                    }
            </div>
        </div>
                        }
    </ul>

    <form asp-action="AddChuong" method="post" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
            <label asp-for="Item2">Nội dung của chương:</label>
            <textarea name="content" class="form-control" required></textarea>
            <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Thêm mới</button>
    </form>

    <div class="Footer-content d-flex justify-content-between align-items-center mt-4">
        <h6>@Model.Item1.ChucvuNguoikibanhanh<br />@Model.Item1.Nguoikibanhanh</h6>
        <a id="completeButton" class="btn btn-primary" href="@Url.Action("Vanban", "Admin")">Hoàn thành</a>
    </div>
</div>
<style>
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        resize: vertical;
    }

    .note-button {
        background-color: #f1f1f1;
        border: none;
        color: #000;
        padding: 3px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin-top: 5px;
        margin-right: 10px;
    }

    .chuong-content {
        display: none;
    }

    .Footer-content h6 {
        font-size: 14px;
        color: #333;
    }

    .Footer-content a {
        font-size: 14px;
        color: #fff;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.toggle-button');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var target = document.querySelector(button.getAttribute('data-target'));
                target.style.display = (target.style.display === 'none' || target.style.display === '') ? 'block' : 'none';
            });
        });
    });

    document.getElementById("uploadForm").addEventListener("submit", async function (event) {
        event.preventDefault();

        const fileInput = document.getElementById("fileInput");
        if (fileInput.files.length === 0) {
            alert("Vui lòng chọn ảnh.");
            return;
        }

        const formData = new FormData();
        formData.append("file", fileInput.files[0]);

        try {
            const response = await fetch("/Admin/UploadAndExtractText", {
                method: "POST",
                body: formData
            });

            if (!response.ok) {
                throw new Error("Error: " + response.statusText);
            }

            const result = await response.json();
            document.getElementById("extractedText").textContent = result.extractedText || "No text found.";
        } catch (error) {
            document.getElementById("extractedText").textContent = "Error: " + error.message;
        }
    });
</script>
 *@

@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Luatgiaothongchitiet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var _context = new DbDacnContext();
}

@model (Vanban, List<Chuong>, List<DieuLuat>, List<DieuKhoan>, List<DieuKhoanThanhPhan>, List<BosungVanban>)

<div class="container">
    <div class="row">
        <!-- Phần bên trái chiếm 3 phần, đặt trong khung (card) -->
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4>Tải hình ảnh:</h4>
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" id="fileInput" name="file" accept=".pdf, .jpg, .jpeg, .png" required class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Đọc nội dung</button>
                    </form>
                    <h5 class="mt-3">Nội dung:</h5>
                    <pre id="extractedText" style="white-space: pre-wrap; background-color: #f4f4f4; padding: 10px; border: 1px solid #ddd;"></pre>
                </div>
            </div>
        </div>

        <!-- Phần bên phải chiếm 9 phần, đặt trong khung (card) -->
        <div class="col-md-9">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h2><strong>@Model.Item1.Ten</strong></h2>
                        <h5><strong>Số @Model.Item1.Sohieuvanban của @Model.Item1.Coquanphathanh phát hành: @Model.Item1.Ngaybanhanh</strong></h5>
                    </div>
                    <div>
                        @{
                            string content = "";
                            foreach (BosungVanban item in @Model.Item6)
                            {
                                if (item.IdloaiBs == 1)
                                {
                                    content += item.Noidung + "<br />";
                                }
                            }
                            if (content != "")
                            {
                                <p>
                                    <i>@Html.Raw(content)</i>
                                </p>
                            }
                        }
                        <form asp-action="AddBosung" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Item3">Nội dung của căn cứ:</label>
                                <textarea name="content" class="form-control" required></textarea>
                                <input type="hidden" name="Idloai" value="1" />
                                <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                        </form>
                    </div>

                    <ul class="list-unstyled">
                        @foreach (var chuong in Model.Item2)
                        {
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="d-flex justify-content-between align-items-center">
                                        <strong>@chuong.Ten</strong>
                                        <button class="toggle-button btn btn-secondary btn-sm" type="button" data-target="#chuong-@chuong.Idchuong">Ẩn/Hiện</button>
                                    </h4>
                                    <form asp-action="AddDieuluat" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label asp-for="Item3">Nội dung điều luật:</label>
                                            <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
                                            <textarea name="content" class="form-control" required></textarea>
                                            <input type="hidden" name="idchuong" value="@chuong.Idchuong" />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                                    </form>
                                </div>

                                <div id="chuong-@chuong.Idchuong" class="chuong-content">
                                    @foreach (var dieuluat in Model.Item3.Where(dl => dl.Idchuong == chuong.Idchuong))
                                    {
                                        <div class="card mt-3">
                                            <div class="card-body">
                                <li>@dieuluat.Noidung</li>
                                <form asp-action="AddDieukhoan" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label asp-for="Item4">Nội dung điều khoản:</label>
                                        <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
                                        <textarea name="content" class="form-control" required></textarea>
                                        <input type="hidden" name="iddl" value="@dieuluat.Iddl" />
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                                </form>
                        </div>

                        <div class="card mt-3">
                            <ul>
                                                    @foreach (var dieukhoan in Model.Item4.Where(dk => dk.Iddl == dieuluat.Iddl))
                                                    {
                                    <li>
                                                            @dieukhoan.Noidung
                                        <form asp-action="AddDieukhoanthanhphan" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label asp-for="Item5">Nội dung điều khoản thành phần:</label>
                                                <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
                                                <textarea name="content" class="form-control" required></textarea>
                                                <input type="hidden" name="iddk" value="@dieukhoan.Iddk" />
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                                        </form>
                                    </li>
                                                    }
                            </ul>
                        </div>
                    </div>
                                    }
            </div>
        </div>
                        }
    </ul>

    <form asp-action="AddChuong" method="post" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
            <label asp-for="Item2">Nội dung của chương:</label>
            <textarea name="content" class="form-control" required></textarea>
            <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Thêm mới</button>
    </form>

    <div>
            @{
                string content1 = "";
                 foreach (BosungVanban item in @Model.Item6)
                 {
                    if (item.IdloaiBs == 2)
                    {
                        content1 +="- " +item.Noidung + "<br />";
                    }
                 }
                 if (content1 != "")
                 {
                    <p>
                        <strong>Nơi nhận:</strong>
                        <br>
                        <i>@Html.Raw(content1)</i>
                    </p>
                 }
             }
        <form asp-action="AddBosung" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Item3">Nội dung của nơi nhận:</label>
                <textarea name="content" class="form-control" required></textarea>
                <input type="hidden" name="Idloai" value="2" />
                <input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Thêm</button>
        </form>
    </div>
    <div class="Footer-content d-flex justify-content-between align-items-center mt-4">
        <h6>@Model.Item1.ChucvuNguoikibanhanh<br />@Model.Item1.Nguoikibanhanh</h6>
        <a id="completeButton" class="btn btn-primary" href="@Url.Action("Vanban", "Admin")">Hoàn thành</a>
    </div>
</div>
<style>
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        resize: vertical;
    }

    .note-button {
        background-color: #f1f1f1;
        border: none;
        color: #000;
        padding: 3px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin-top: 5px;
        margin-right: 10px;
    }

    .chuong-content {
        display: none;
    }

    .Footer-content h6 {
        font-size: 14px;
        color: #333;
    }

    .Footer-content a {
        font-size: 14px;
        color: #fff;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.toggle-button');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var target = document.querySelector(button.getAttribute('data-target'));
                target.style.display = (target.style.display === 'none' || target.style.display === '') ? 'block' : 'none';
            });
        });
    });

    document.getElementById("uploadForm").addEventListener("submit", async function (event) {
        event.preventDefault();

        const fileInput = document.getElementById("fileInput");
        if (fileInput.files.length === 0) {
            alert("Vui lòng chọn ảnh.");
            return;
        }

        const formData = new FormData();
        formData.append("file", fileInput.files[0]);

        try {
            const response = await fetch("/Admin/UploadAndExtractText", {
                method: "POST",
                body: formData
            });

            if (!response.ok) {
                throw new Error("Error: " + response.statusText);
            }

            const result = await response.json();
            document.getElementById("extractedText").textContent = result.extractedText || "No text found.";
        } catch (error) {
            document.getElementById("extractedText").textContent = "Error: " + error.message;
        }
    });
</script>
