﻿@{
    ViewData["Title"] = "QuanlyBaidangTintuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<WebTracuuLuatGiaoThong.Models.Tintuc>

<div class="container">
	<h1 style="text-align:center">Danh sách tin tức đợi kiểm duyệt</h1>
	@{
		if(Model.Count() == 0)
		{
			<p style="text-align:center">Không có tin tức cần duyệt</p>
		}
		else
		{
			<div class="content">
				<table class="table">
					<thead>
						<tr>
							<th>STT</th>
							<th>Tác giả</th>
							<th>Tin tức mới</th>
							<th>Ngày cập nhật</th>
							<th>Duyệt</th>
						</tr>
					</thead>
					<tbody>
						@{
							int count = 1;
						}
						@foreach (var tintuc in Model.OrderByDescending(x => x.Idtintuc))
						{
							<tr>
								<td>
									<p>@count</p>

								</td>
								<td>
									<p>@tintuc.Iduser</p>
								</td>
								<td>
									<a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc }) " style="text-decoration: none; color: #000;">
										@tintuc.Ten <br /> @(tintuc.Noidung.Length > 20 ? tintuc.Noidung.Substring(0, 20) + "..." : tintuc.Noidung)
									</a>
								</td>
								<td>
									<a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc }) " style="text-decoration: none; color: #000;">
										@tintuc.Ngaycapnhat
									</a>
								</td>
								<td>
									<form method="post" action="@Url.Action("ApproveNews", "Admin")">
										<input type="hidden" name="id" value="@tintuc.Idtintuc" />
										<button type="submit" class="btn btn-primary" style="background-color: #f8f9fa; color: #28a745;">
											<i class="fas fa-check-circle" style="color: #28a745;"></i> Duyệt tin tức
										</button>
									</form>
								</td>
							</tr>
							count++;
						}

					</tbody>
				</table>
				<div class="text-center" style="margin-top: 20px;">
					<form method="post" action="@Url.Action("ApproveAllNews", "Admin")">
						<button type="submit" class="btn btn-primary" style="background-color: #f8f9fa; color: #28a745;">Duyệt toàn bộ</button>
					</form>
				</div>
			</div>
		}
	}
</div>