﻿@{
	ViewData["Title"] = "Suavanban";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	DbDacnContext _context = new DbDacnContext();
}


@model System.ValueTuple<Vanban, List<Chuong>, List<DieuLuat>, List<DieuKhoan>, List<DieuKhoanThanhPhan>, List<BosungVanban>>
<div class="container">
	<div class="content-wrapper">
		<div class="content">
			<div class="top-div">
				<div class="left-part">
					<h4><strong>@Model.Item1.Coquanphathanh</strong></h4>
					<h5>Số: <strong>@Model.Item1.Sohieuvanban</strong></h5>
				</div>
				<div class="right-part">
					<h4><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></h4>
					<h4><strong>Độc lập - Tự do - Hạnh phúc</strong></h4>
				</div>
			</div>
			<center>
				<div>
					@{
						var tenLoaiVanBan = _context.LoaiVanBans
						.Where(p => p.Idloaivb == Model.Item1.IdloaiVanBan)
						.Select(p => p.TenLoaivb)
						.FirstOrDefault();
					}
					<h3><strong>@tenLoaiVanBan</strong></h3>
					<h3><strong>@Model.Item1.Ten</strong></h3>
				</div>
			</center>
			<div>
				@{
					string content = "";
					foreach (BosungVanban item in @Model.Item6)
					{
						if (item.IdloaiBs == 1)
						{
							content += item.Noidung + "<br />";
						}
					}
					if (content != "")
					{
						<p>
							<i>@Html.Raw(content)</i>
						</p>
					}
				}
				<form asp-action="AddBosung" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label asp-for="Item3">Nội dung của căn cứ:</label>
						<textarea name="content" class="form-control" required></textarea>
						<input type="hidden" name="Idloai" value="1" />
						<input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
					</div>
					<button type="submit" class="btn btn-primary btn-block">Thêm</button>
				</form>
			</div>
			<div id="content">
				<ul id="chuong">
					@for (int i = 0; i < Model.Item2.Count; i++)
					{
						<center>
							<h4 id="@i.ToString()chuong"><strong>@Model.Item2[i].Ten</strong></h4>

							<details>
								<summary>Chỉnh sửa</summary>
								<form action="@Url.Action("UpdateRole", "Admin")" method="post">
									<textarea name="noidung" placeholder="Nhập nội dung" rows="3" required></textarea>
									<input type="hidden" name="loai" value="1" />
									<input type="hidden" name="id" value="@Model.Item2[i].Idchuong" />
									<input type="hidden" name="idVanban" value="@Model.Item1.Idvb" />
									<button type="submit">Lưu</button>
								</form>
							</details>

						</center>
						<ul>
							@foreach (var dieuluat in Model.Item3.Where(dl => dl.Idchuong == @Model.Item2[i].Idchuong))
							{
								<li>
									<p id="@i.ToString()dieu"><strong>@dieuluat.Noidung</strong></p>

									<details>
										<summary>Chỉnh sửa</summary>
										<form action="@Url.Action("UpdateRole", "Admin")" method="post">
											<textarea name="noidung" placeholder="Nhập nội dung" rows="3" required></textarea>
											<input type="hidden" name="loai" value="2" />
											<input type="hidden" name="id" value="@dieuluat.Iddl" />
											<input type="hidden" name="idVanban" value="@Model.Item1.Idvb" />
											<button type="submit">Lưu</button>
										</form>
									</details>


								</li>
								<ul>
									@foreach (var dieukhoan in Model.Item4.Where(dk => dk.Iddl == dieuluat.Iddl))
									{
										<li>
											@dieukhoan.Noidung

											<details>
												<summary>Chỉnh sửa</summary>
												<form action="@Url.Action("UpdateRole", "Admin")" method="post">
													<textarea name="noidung" placeholder="Nhập nội dung" rows="3" required></textarea>
													<input type="hidden" name="loai" value="3" />
													<input type="hidden" name="id" value="@dieukhoan.Iddk" />
													<input type="hidden" name="idVanban" value="@Model.Item1.Idvb" />
													<button type="submit">Lưu</button>
												</form>
											</details>


										</li>
										<ul>
											@foreach (var dieukhoanthanhphan in Model.Item5.Where(tk => tk.Iddk == dieukhoan.Iddk))
											{
												<li>
													@dieukhoanthanhphan.Noidung

													<details>
														<summary>Chỉnh sửa</summary>
														<form action="@Url.Action("UpdateRole", "Admin")" method="post">
															<textarea name="noidung" placeholder="Nhập nội dung" rows="3" required></textarea>
															<input type="hidden" name="loai" value="4" />
															<input type="hidden" name="id" value="@dieukhoanthanhphan.Iddktp" />
															<input type="hidden" name="idVanban" value="@Model.Item1.Idvb" />
															<button type="submit">Lưu</button>
														</form>
													</details>

												</li>
											}
										</ul>
									}
								</ul>
							}
						</ul>
					}
				</ul>
			</div>
			<div>
				@{
					string content1 = "";
					foreach (BosungVanban item in @Model.Item6)
					{
						if (item.IdloaiBs == 2)
						{
							content1 += "- " + item.Noidung + "<br />";
						}
					}
					if (content1 != "")
					{
						<p>
							<strong>Nơi nhận:</strong>
							<br>
							<i>@Html.Raw(content1)</i>
						</p>
					}
				}
				<form asp-action="AddBosung" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label asp-for="Item3">Nội dung của nơi nhận:</label>
						<textarea name="content" class="form-control" required></textarea>
						<input type="hidden" name="Idloai" value="2" />
						<input type="hidden" name="idvb" value="@Model.Item1.Idvb" />
					</div>
					<button type="submit" class="btn btn-primary btn-block">Thêm</button>
				</form>
			</div>
			<div class="footer-content" style="display: flex; justify-content: flex-end; padding: 20px 0; margin-left: 20px;">
				<div>
					<p><strong>@Model.Item1.ChucvuNguoikibanhanh </strong></p>
					<p style="text-align:center"><strong>@Model.Item1.Nguoikibanhanh</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.top-div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		padding: 10px;
	}

	.left-part, .right-part {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}

	textarea {
		width: 300px;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 14px;
		resize: vertical;
	}

	.note-button {
		background-color: #f1f1f1;
		border: none;
		color: #000;
		padding: 3px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 10px;
		margin-top: 5px;
		margin-right: 10px;
	}

	details {
		margin-bottom: 10px;
	}

	.footer-content {
		display: flex;
		justify-content: flex-end;
		padding: 20px 0;
	}

	.btn-primary {
		background-color: gray;
		color: black;
		padding: 10px 20px;
		border: none;
		border-radius: 4px;
		text-decoration: none;
	}

	h4, h5, h6 {
		margin: 5px 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		margin-bottom: 10px;
	}

</style>