﻿@{
    ViewData["Title"] = "Chọn Mẫu Văn Bản";
}

<h2>Chọn Mẫu Văn Bản</h2>

<ul>
    @foreach (var file in Model)
    {
        <li><a href="@Url.Action("Edit", "Document", new { fileName = file })">@file</a></li>
    }
</ul>
