﻿
@{
    ViewData["Title"] = "Tintuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    DbDacnContext _context = new DbDacnContext();
}
@model IEnumerable<WebTracuuLuatGiaoThong.Models.Tintuc>

<div class="container">
    <div class="content">
        
        <h1 style="text-align:center">Danh sách tin tức</h1>
		<div class="d-flex justify-content-between align-items-center">
			<div class="search-container">
				<input type="search" id="search-box" placeholder="Tìm kiếm tin tức" />
			</div>

			<div class="text-center" style="margin-top: 20px;">
				<a class="btn btn-primary" style="background-color: #007bff; color: #fff;" href="@Url.Action("AddNewTintuc", "Admin")">Thêm tin tức</a>
			</div>
		</div>
        <table class="table" style="margin-top:10px">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tác giả</th>
                    <th>Tin tức mới</th>
                    <th>Ngày cập nhật</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody id="news-table">
                @{
                    int count = 1;
                }
                @foreach (var tintuc in Model.OrderByDescending(x => x.Idtintuc))
                {
                    <tr class="news-row">
						<td>
							<p>@count</p>

						</td>
						<td class="author">

							<p>@tintuc.Iduser</p>
						</td>
						<td class="title-content">
							<a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc }) " style="text-decoration: none; color: #000;">
								@tintuc.Ten <br /> @(tintuc.Noidung.Length > 20 ? tintuc.Noidung.Substring(0, 20) + "..." : tintuc.Noidung)
							</a>
						</td>
						<td class="update-date">
							<a href="@Url.Action("Displaytintuc", "User", new { id = tintuc.Idtintuc }) " style="text-decoration: none; color: #000;">
								@tintuc.Ngaycapnhat
							</a>
						</td>
                        <td>
                            @{
                                if (tintuc.Trangthai == true)
                                {
                                    <p style="text-align:center"><i class="fas fa-check-circle" style="color: green;"></i></p>
                                }
                                else
                                {
                                    <p style="text-align:center"><i class="fas fa-spinner"></i></p>
                                }
                            }
                         
                        </td>
						<td>
							<div class="text-center" style="margin-top: 5px;">
                                <a class="btn btn-primary" style="background-color: red; color: #fff;" href="@Url.Action("CompleteDeleteTintuc", "Admin",new { id =  @tintuc.Idtintuc })"><i class="fas fa-trash-alt" style="color: #fff;"></i></a>
							</div>
						</td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    // Bộ lọc tìm kiếm
    document.getElementById('search-box').addEventListener('input', function () {
        const filter = this.value.toUpperCase();
        const rows = document.querySelectorAll('.news-row');
        rows.forEach(row => {
            const author = row.querySelector('.author').textContent.toUpperCase();
            const titleContent = row.querySelector('.title-content').textContent.toUpperCase();
            const updateDate = row.querySelector('.update-date').textContent.toUpperCase();
            if (author.indexOf(filter) > -1 || titleContent.indexOf(filter) > -1 || updateDate.indexOf(filter) > -1) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>