﻿@{
    ViewData["Title"] = "Trang chủ quản lý";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Thống Kê</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }

        .stat-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
        }

        .stat-item {
            padding: 15px;
            background-color: #f8f9fa;
            border-radius: 6px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .stat-icon {
            font-size: 24px;
            margin-right: 10px;
            color: #333; /* Màu biểu tượng mặc định */
        }

        .stat-content {
            flex-grow: 1;
            text-align: center;
        }

            .stat-content p {
                margin: 0;
                font-size: 18px;
                color: #333; /* Màu chữ mặc định */
            }

        .users-icon {
            color: #007bff; /* Màu biểu tượng cho số lượng người dùng */
        }

        .vanban-icon {
            color: #28a745; /* Màu biểu tượng cho số lượng văn bản */
        }

        .tintuc-icon {
            color: #ffc107; /* Màu biểu tượng cho số lượng tin tức */
        }

        .kiemduyet-icon {
            color: #dc3545; /* Màu biểu tượng cho số lượng tin tức đã kiểm duyệt */
        }

        .red-text {
            color: #dc3545; /* Màu chữ đỏ */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Thống kê</h1>

        <div class="stat-grid">
            <div class="stat-item">
                <a asp-area="" asp-controller="Admin" asp-action="ListUser" style="text-decoration: none">
                    <div class="stat-content">
                        <i class="fas fa-users stat-icon users-icon"></i>
                        <p>Số lượng người dùng: @ViewBag.UserCount</p>
                    </div>
                </a>
            </div>

            <div class="stat-item">
                <a asp-area="" asp-controller="Admin" asp-action="Vanban" style="text-decoration: none">
                    <div class="stat-content">
                        <i class="fas fa-file-alt stat-icon vanban-icon"></i>
                        <p>Số lượng văn bản: @ViewBag.VanbanCount</p>
                    </div>
                </a>
            </div>

            <div class="stat-item">
                <a asp-area="" asp-controller="Admin" asp-action="Tintuc" style="text-decoration: none">
                    <div class="stat-content">
                        <i class="fas fa-newspaper stat-icon tintuc-icon"></i>
                        <p>Số lượng tin tức: @ViewBag.TintucCount</p>
                    </div>
                </a>
            </div>

            <div class="stat-item">
                <a asp-area="" asp-controller="Admin" asp-action="QuanlyBaidangTintuc" style="text-decoration: none">
                    <div class="stat-content">
                        @{
                            var kiemduyetCount = ViewBag.KiemduyetCount ?? 0;
                            string textColor = kiemduyetCount != 0 ? "red-text" : "";
                        }
                        <i class="fas fa-check-circle stat-icon kiemduyet-icon"></i>
                        <p>Số lượng tin tức đã kiểm duyệt: <span class="@textColor">@kiemduyetCount</span></p>
                    </div>
                </a>
               @*  <a href="@Url.Action("QuanlyBaidangTintuc", "Admin")"> *@
                   @*  <div class="stat-content">
                        @{
                            var kiemduyetCount = ViewBag.KiemduyetCount ?? 0;
                            string textColor = kiemduyetCount != 0 ? "red-text" : "";
                        }
                        <i class="fas fa-check-circle stat-icon kiemduyet-icon"></i>
                        <p>Số lượng tin tức đã kiểm duyệt: <span class="@textColor">@kiemduyetCount</span></p>
                    </div> *@
                @* </a> *@
                
            </div>
        </div>
    </div>
</body>
</html>
