﻿
@{
	ViewData["Title"] = "Tucam";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<WebTracuuLuatGiaoThong.Models.TuCam>

<div class="container">
	<h1 class="text-center">Danh sách từ cấm</h1>
	<div class="content">
		<div class="block-content">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th style="text-align:center">Từ cấm</th>
						<th style="text-align:center">Chức năng</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var tucam in Model.OrderByDescending(x => x.Id))
					{
						<tr>
							<td style="text-align:center">@tucam.Noidung</td>
							<td class="text-center">
								<a class="btn btn-danger" href="@Url.Action("Xoatucam", "Admin", new { id = tucam.Id })">Xóa</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="text-center" style="margin-top: 20px;">
				<button id="openPopupBtn" class="btn btn-primary">Thêm từ cấm</button>
			</div>
		</div>
	</div>
</div>

<div id="popupForm" class="popup">
	<div class="popup-content">
		<span class="closeBtn">&times;</span>
		<h2>Thêm mới từ cấm mới</h2>
		<form asp-action="ThemTucam" method="post">
			<input type="text" id="Noidung" name="Noidung" required>
			<button type="submit" class="btn btn-primary">Thêm</button>
		</form>
	</div>
</div>
@section Scripts {
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const openPopupBtn = document.getElementById('openPopupBtn');
			const popupForm = document.getElementById('popupForm');
			const closeBtn = document.querySelector('.closeBtn');

			openPopupBtn.addEventListener('click', () => {
				popupForm.classList.add('show');
			});

			closeBtn.addEventListener('click', () => {
				popupForm.classList.remove('show');
			});

			window.addEventListener('click', (event) => {
				if (event.target == popupForm) {
					popupForm.classList.remove('show'); 
				}
			});
		});
	</script>
}
<style>
	body {
		font-family: Arial, sans-serif;
		background-color: #f8f9fa;
		margin: 0;
		padding: 0;
	}

	.container {
		max-width: 800px;
		margin: 50px auto;
		background-color: #fff;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	h1.text-center {
		margin-bottom: 20px;
	}

	.btn-primary {
		background-color: #007bff;
		border-color: #007bff;
		color: #fff;
	}

		.btn-primary:hover {
			background-color: #0056b3;
			border-color: #0056b3;
		}

	.btn-danger {
		background-color: #dc3545;
		border-color: #dc3545;
		color: #fff;
	}

		.btn-danger:hover {
			background-color: #c82333;
			border-color: #bd2130;
		}

	.popup {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.3s ease;
	}

		.popup.show {
			display: flex;
			opacity: 1;
		}

	.popup-content {
		background-color: white;
		padding: 20px;
		border-radius: 8px;
		width: 400px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		position: relative;
		transform: translateY(-50px);
		transition: transform 0.3s ease;
	}

	.popup.show .popup-content {
		transform: translateY(0);
	}

	.closeBtn {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 24px;
		cursor: pointer;
		color: #aaa;
		transition: color 0.3s ease;
	}

		.closeBtn:hover {
			color: #333;
		}

	h2 {
		margin-top: 0;
		color: #333;
	}

	label {
		display: block;
		margin: 10px 0 5px;
		color: #555;
	}

	input[type="text"] {
		width: calc(100% - 22px);
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 16px;
		outline: none;
		transition: border-color 0.3s ease;
	}

		input[type="text"]:focus {
			border-color: #007bff;
		}

	button[type="submit"] {
		padding: 10px 20px;
		font-size: 16px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease;
		margin-top: 10px;
	}

		button[type="submit"]:hover {
			background-color: #0056b3;
		}
</style>
