﻿@{
    ViewData["Title"] = "Speech to Text";
}

<h2>Record Audio for Speech to Text</h2>

<button id="startBtn">Start Recording</button>
<button id="stopBtn" disabled>Stop Recording</button>

<p id="status"></p>

<script>
    let mediaRecorder;
    let audioChunks = [];

    // Lấy quyền truy cập micro
    navigator.mediaDevices.getUserMedia({ audio: true })
        .then(stream => {
            mediaRecorder = new MediaRecorder(stream);

            // Khi ghi âm được, lưu dữ liệu âm thanh vào mảng audioChunks
            mediaRecorder.ondataavailable = event => {
                audioChunks.push(event.data);
            };

            // Khi kết thúc ghi âm, gửi dữ liệu lên server
            mediaRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                const formData = new FormData();
                formData.append('audioFile', audioBlob, 'audio.wav');

                // Gửi âm thanh lên server qua POST
                fetch('/Admin/UploadAudio', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Server error: " + response.status);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.result) {
                            document.getElementById("status").innerText = "Result: " + data.result;
                        } else if (data.error) {
                            document.getElementById("status").innerText = "Error: " + data.error;
                        }
                    })
                    .catch(error => {
                        document.getElementById("status").innerText = "Error: " + error.message;
                    });
            };

            // Đảm bảo reset audioChunks khi bắt đầu ghi âm mới
            mediaRecorder.onstart = () => {
                audioChunks = [];
            };
        })
        .catch(error => {
            console.error("Error accessing microphone:", error);
            document.getElementById("status").innerText = "Error accessing microphone: " + error.message;
        });

    // Bắt đầu ghi âm khi click vào nút
    document.getElementById("startBtn").addEventListener("click", () => {
        mediaRecorder.start();
        document.getElementById("startBtn").disabled = true;
        document.getElementById("stopBtn").disabled = false;
        document.getElementById("status").innerText = "Recording...";
    });

    // Dừng ghi âm khi click vào nút
    document.getElementById("stopBtn").addEventListener("click", () => {
        mediaRecorder.stop();
        document.getElementById("startBtn").disabled = false;
        document.getElementById("stopBtn").disabled = true;
    });
</script>
