﻿@{
    ViewData["Title"] = "Upload and Extract Text";
}

<h2>Upload Image or PDF to Extract Text</h2>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file" accept=".pdf, .jpg, .jpeg, .png" required />
    <button type="submit">Upload and Extract Text</button>
</form>

<h3>Extracted Text:</h3>
<pre id="extractedText" style="white-space: pre-wrap; background-color: #f4f4f4; padding: 10px; border: 1px solid #ddd;"></pre>

<script>
    document.getElementById("uploadForm").addEventListener("submit", async function (event) {
        event.preventDefault();

        const fileInput = document.getElementById("fileInput");
        if (fileInput.files.length === 0) {
            alert("Please select a file to upload.");
            return;
        }

        const formData = new FormData();
        formData.append("file", fileInput.files[0]);

        try {
            const response = await fetch("/Admin/UploadAndExtractText", {
                method: "POST",
                body: formData
            });

            if (!response.ok) {
                throw new Error("Error: " + response.statusText);
            }

            const result = await response.json();
            document.getElementById("extractedText").textContent = result.extractedText || "No text found.";
        } catch (error) {
            document.getElementById("extractedText").textContent = "Error: " + error.message;
        }
    });
</script>
