﻿
@{
	ViewData["Title"] = "Vanban";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	DbDacnContext _context = new DbDacnContext();
}
@model IEnumerable<WebTracuuLuatGiaoThong.Models.Vanban>

<div class="container">
	<h1 class="text-center">Văn bản</h1>
	<div class="content">
		<div class="d-flex justify-content-between align-items-center">
			<div class="search-container" style="margin-top: 10px;">
				<input type="search" id="search-box" class="form-control" placeholder="Tìm kiếm theo tên" />
			</div>
			<div style="margin-top: 10px;">
				<a class="btn btn-primary" href="@Url.Action("AddNewVanban", "Admin")">Thêm văn bản</a>
			</div>
		</div>
		<div class="block-content">
			<table class="table" id="documentTable">
				<thead>
					<tr>
						<th>STT</th>
						<th>Văn bản</th>
						<th>Chức năng</th>
					</tr>
				</thead>
				<tbody>
					@{
						int count = 1;
					}
					@foreach (var vanban in Model.OrderByDescending(x => x.Idvb))
					{
						var tenloai = _context.LoaiVanBans.FirstOrDefault(p => p.Idloaivb == vanban.IdloaiVanBan);
						<tr data-id="@vanban.Idvb">
							<td>
								<div class="doc-cot1">
									<span class="doc-number">@count</span>
								</div>
							</td>
							<td>
								<div class="doc-cot2">
									<div class="post-doc">
										<div class="post-left-doc">
											<h4 class="document-title">
												<a href="@Url.Action("Luatgiaothongchitiet", "User", new { id = vanban.Idvb })" class="text-decoration-none text-dark">
													@tenloai.TenLoaivb số @vanban.Sohieuvanban của @vanban.Coquanphathanh @vanban.Ten
												</a>
											</h4>
										</div>
										<div class="post-right-doc">
											<div class="Ngaybanhanh">
												<span class="right-doc-1">Ngày ban hành:</span>
												<span class="right-doc-2">@vanban.Ngaybanhanh</span>
											</div>
											<div class="Ngaycapnhap">
												<span class="right-doc-1">Ngày cập nhập:</span>
												<span class="right-doc-2">@vanban.Ngaycapnhat</span>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td>

								<div class="text-center" style="margin-top: 20px; display: flex; justify-content: center;">
									<a class="btn btn-primary" style="background-color: red; color: #fff; margin-right: 10px;" href="@Url.Action("DeleteVanban", "Admin", new { id = @vanban.Idvb })">Xóa</a>
									<a class="btn btn-primary" style="background-color: dimgrey; color: #fff; margin-right: 10px;" href="@Url.Action("Suavanban", "Admin", new { id = @vanban.Idvb })">Sửa</a>
									<a class="btn btn-primary" style="background-color: green; color: #fff;" href="@Url.Action("Luatgiaothongchitiet", "Admin", new { id = @vanban.Idvb })">Thêm</a>
								</div>

							</td>
						</tr>
						count++;
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const rows = document.querySelectorAll('tbody tr');
		let dataRows = Array.from(rows);
		//
		const searchBox = document.getElementById('search-box');

		searchBox.addEventListener('input', () => {
			const searchText = searchBox.value.trim().toLowerCase();
			const filteredRows = dataRows.filter(row => {
				const id = row.getAttribute('data-id').toString().toLowerCase();
				const name = row.querySelector('.document-title').textContent.trim().toLowerCase();
				return id.includes(searchText) || name.includes(searchText);
			});

			rows.forEach(row => {
				if (filteredRows.includes(row)) {
					row.style.display = '';
				} else {
					row.style.display = 'none';
				}
			});
		});
	});
</script>