﻿@using Microsoft.AspNetCore.Identity
@using WebTracuuLuatGiaoThong.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: 250px;
            background-color: #2c2f33; /* Màu nền tối hơn cho sidebar */
            color: white;
            overflow-y: auto;
            border-right: 2px solid #007bff; /* Đường viền bên phải có màu sáng hơn */
            box-shadow: 2px 0 5px rgba(0,0,0,0.3); /* Bóng cho sidebar */
        }

        .main-content {
            margin-left: 250px;
            padding: 20px;
        }

        .navbar {
            background-color: #f8f9fa;
            padding: 10px 20px;
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
        }

            .sidebar ul li a {
                color: #ffffff; /* Màu chữ trắng */
                padding: 10px 15px;
                text-decoration: none;
                display: block;
                transition: background-color 0.3s; /* Hiệu ứng chuyển đổi */
            }

                .sidebar ul li a:hover {
                    background-color: #007bff; /* Màu sáng hơn khi hover */
                }

                .sidebar ul li a .fas {
                    margin-right: 10px;
                }

        .dropdown-item {
            color: #ffffff; /* Màu chữ */
            background-color: #343a40; /* Màu nền tối */
            transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi */
        }

            .dropdown-item:hover {
                background-color: #0056b3; /* Màu sáng hơn khi hover */
                color: #ffffff; /* Màu chữ khi hover */
            }

        .btn-primary {
            background-color: #007bff; /* Màu nền sáng cho nút */
            border-color: #007bff; /* Màu viền trùng với nền */
            color: #ffffff; /* Màu chữ trắng */
            transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi */
        }

            .btn-primary:hover, .btn-primary:focus {
                background-color: #0056b3; /* Màu tối hơn khi hover */
                border-color: #0056b3; /* Màu viền tối hơn khi hover */
                color: #ffff00; /* Màu chữ vàng khi hover */
            }

            .btn-primary i {
                margin-right: 5px; /* Khoảng cách giữa icon và chữ */
            }

    </style>


</head>
<body>

    @if (TempData["Message"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                Toastify({
                    text: "@Html.Raw(TempData["Message"])",
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "@(TempData["MessageType"] != null && TempData["MessageType"].ToString() == "success" ? "linear-gradient(to right, #00b09b, #96c93d)" : "linear-gradient(to right, #ff5f6d, #ffc371)")",
                }).showToast();
            });
        </script>
    }

    <div class="sidebar">
        <div class="text-center" style="padding-top:20px">
            <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">
                <i class="fas fa-balance-scale"></i> <span class="brand-highlight"><strong>LuatGiaoThong.vn</strong></span>
            </a>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("TrangchuAdmin", "Admin")"><i class="fas fa-home"></i>Trang chủ</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-users"></i>Quản lý người dùng
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="@Url.Action("ListUser", "Admin")">Danh sách người dùng</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("ListUserBan", "Admin")">Người dùng bị cấm bình luận</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Vanban", "Admin")"><i class="fas fa-file-alt"></i>Quản lý văn bản</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-newspaper"></i>Quản lý tin tức
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="@Url.Action("Tintuc", "Admin")">Tin tức</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("QuanlyBaidangTintuc", "Admin")">Duyệt tin tức</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Tucam", "Admin")">Thêm từ cấm bình luận</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!-- Toastify CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Toastify JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>
</html>
