﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LuatGiaoThong</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTracuuLuatGiaoThong.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
<body>
    @if (TempData["Message"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                Toastify({
                    text: "@Html.Raw(TempData["Message"])",
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "@(TempData["MessageType"] != null && TempData["MessageType"].ToString() == "success" ? "linear-gradient(to right, #00b09b, #96c93d)" : "linear-gradient(to right, #ff5f6d, #ffc371)")",
                }).showToast();
            });
        </script>
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">
                    <i class="fas fa-balance-scale"></i> <span class="brand-highlight">LuatGiaoThong.vn</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index"><i class="fas fa-home"></i> Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Luatgiaothong"><i class="fas fa-book"></i> Luật giao thông</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="CreateDocument"><i class="fas fa-book"></i> Tạo mẫu văn bản</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-newspaper"></i> Văn bản mới/Tin tức pháp luật
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Vanbanmoi"><i class="fas fa-file-alt"></i> Văn bản mới</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Tintucmoi"><i class="fas fa-rss"></i> Tin tức pháp luật</a>
                                </li>
                            </ul>
                        </li>

                       @*  <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index"><i class="fas fa-envelope"></i> Liên hệ</a>
                        </li> *@
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="TrangchuAdmin"><i class="fas fa-users-cog"></i> Quản lý</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <!-- chatbot hỗ trợ người dùng -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME"
                  chat-title="Hỗ trợ"
                  agent-id="7111feaf-6c30-486c-98ae-addc6c75d05e"
                  language-code="vi">
    </df-messenger>
    <div class="container">
        <div class="background-container">

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-top-area">
                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu">
                                <h5 class="widget-title text-uppercase pb-2">Luatgiaothong.vn</h5>
                                <p>Website tra cứu văn bản Luật nhanh và tiện lợi.</p>
                                <div class="social-links">
                                    <ul class="d-flex list-unstyled">
                                        <li>
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu contact-item">
                                <h5 class="widget-title text-uppercase pb-2">Liên hệ với chúng tôi</h5>
                                <p>
                                    Bạn có bất kì thắc mắc nào? <a href="mailto:lequan14803@gmail.com">lequan14803@gmail.com</a>
                                </p>
                                <p>
                                    Nếu bạn cần hỗ trợ ? Hãy liên hệ ngay với chúng tôi <a href="tel:0981155952">0981155952</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/paginate.js"></script>
    <script src="~/lib/jquery/dist/paginate.min.js"></script>"
    <script>
        // Đảm bảo trang đã được tải hoàn toàn trước khi thực hiện các tính toán
        document.addEventListener("DOMContentLoaded", function () {
            // Lấy chiều cao của footer
            var footerHeight = document.querySelector('.footer').offsetHeight;

            // Thiết lập margin-bottom của phần nội dung chính
            document.querySelector('main').style.marginBottom = footerHeight + 'px';
        });
    </script>


    <!-- Toastify CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Toastify JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>


