﻿@using Microsoft.AspNetCore.Identity
@using WebTracuuLuatGiaoThong.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-user"></i> Xin chào @UserManager.GetUserName(User)!
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "User", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">
                    <i class="fas fa-sign-out-alt"></i> Đăng Xuất
                </button>
            </form>
        </li>
}
else
{
        <li class="nav-item">
            <a id="registerLink" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus"></i> Đăng kí
            </a>
        </li>
        <li class="nav-item">
            <a id="loginLink" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-key"></i> Đăng Nhập
            </a>
        </li>
       
}
</ul>
