﻿html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.brand-text {
    color: #ffffff;
}

.brand-highlight {
    color: #dc3545;
    position: relative;
}

    .brand-highlight:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #dc3545;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.3s ease-in-out;
    }

    .brand-highlight:hover:before {
        transform: scaleX(1);
    }

.navbar-custom {
    background-color: #003366;
}

.centered-heading {
    text-align: center;
}

.nav-link:hover {
    text-decoration: underline;
}



.left-content {
    flex: 1;
    max-width: 70%;
    padding-right: 20px;
}

.right-content {
    flex: 1;
    max-width: 30%;
    padding-left: 20px;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e0f2fe;
}

    .box h2 {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .box img {
        max-width: 100%;
        max-height: 100%;
    }

    .box p {
        color: #666;
        font-size: 14px;
        line-height: 1.5;
    }

    .box a {
        text-decoration: none; /* Loại bỏ gạch chân dưới */
        color: #000;
        font-family: arial, sans-serif;
    }

/* Main content */
.search-container {
    margin-bottom: 20px;
}

input[type="search"] {
    padding: 10px;
    width: 1100px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #003366;
    color: #ffffff;
    border: none;
}

a {
    text-decoration: none;
    color: #222222;
}


.document-title {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 12px;
}


.block-content {
    width: 100%;
    float: left;
    margin-bottom: 16px;
    background-color: #f9f9f9;
}
    .block-content:nth-child(odd) {
        background-color: #f0f0f0;  Màu xám nhạt 
    }
  
.document-item {
    width: 100%;
    border-bottom: solid 1px #e0e0e0;
    padding: 16px 0;
    float: left;
}

.doc-cot1 {
    margin-right: 16px;
    float: left;
}

.doc-number {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.doc-cot2 {
    display: grid;
}
.doc-cot3 {
    margin-left: 16px;
    float: right;
}
.post-left-doc {
    width: 75%;
    float: left;
    padding-right: 16px;
}

.post-right-doc {
    width: 25%;
    float: left;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.right-doc {
    font-size: 14px;
    margin-bottom: 5px;
}

.right-doc-1 {
    float: left;
    color: #666;
    width: 45%;
}

.right-doc-2 {
    color: #90622a;
    float: left;
    width: 55%;
}

.heading-page {
    text-align: center;
    margin-bottom: 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   

}

.container {
    flex: 1;
    padding: 20px;
   
}

.background-container {
    background-image: url('../picture/ax44-vector-corel-trong-dong.png');
    background-image: url('../picture/your-image.png'); /* Đường dẫn đến hình ảnh nền */
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    /*flex: 1;    
    padding: 20px;*/
    overflow-y: auto;
    /*padding-bottom: 20px;*/
}

.footer {
    background: #f0f0f0 ;
    text-align: center;
    border-top: 4px solid #f4f4f4;
}

.footer-top-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-menu {
    margin-bottom: 20px;
}

    .footer-menu img {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .footer-menu p {
        margin: 10px 0;
    }

.social-links ul {
    display: flex;
    gap: 10px;
}

    .social-links ul li {
        list-style: none;
    }

        .social-links ul li a svg {
            width: 24px;
            height: 24px;
            fill: white;
        }

.contact-item h5 {
    margin-bottom: 10px;
}

.contact-item p {
    margin-bottom: 10px;
}

.contact-item a {
    color: #1e90ff;
    text-decoration: none;
}

    .contact-item a:hover {
        text-decoration: underline;
    }


/* Đường viền ngăn cách */
hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
/* Nút đăng nhập */
#login-submit {
    background-color: #007bff; /* Màu nền nút */
    border-color: #007bff; /* Màu viền nút */
}

    #login-submit:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

a:hover {
    color: #0056b3;
}

.row {
    background-size: cover;
    font-size: 16px;
}
/* Lỗi hiển thị */
.text-danger {
    color: #dc3545;
}
/*Form Login-Resigter*/
.login100-pic img {
    max-width: 350px;
    display: block;
    margin-left: var(--auto);
    margin-top: var(--auto);
    margin-right: var(--auto);
}
/*------------------------------------------------------------------ */
.wrap-input100 {
    position: relative;
    width: var(--onehundred_percent);
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-family: var(--font_family);
    font-size: var(--font_15);
    line-height: 1.5;
    color: var(--back_bg);
    display: block;
    width: var(--onehundred_percent);
    background: #f5f5f5;
    height: var(--h_45);
    border-radius: .375rem;
    padding: 0 30px 0 68px;
    /*border: 1px solid #d4d4d4;*/
    border: 1px solid #ced4da;
}

    .input100:active, .input100:focus {
        background: var(--white_bg);
        border: var(--px_1) solid var(--main_bg) !important;
    }

.bx {
    font-size: var(--font_17);
}

.registration-box {
    /*background-color: #f8f9fa;*/
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    max-width: 700px;
    width: 100%;
    margin-bottom: 0px;
}
/*Nút phân trang*/
html {
    scroll-behavior: smooth;
}

.box1 {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e0f2fe;
}
/* Hiệu ứng khi di chuột qua */
.box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Hiệu ứng đổ bóng */
    transform: scale(1.05); /* Hiệu ứng phóng to */
    color: #ff0000; /* Thay đổi màu chữ thành đỏ */
    background-color: #f0f0f0; /* Đổi màu nền của boxg */
}
.jumbotron {
    background-image: url('../picture/123.png');
    /*  background-image: url('../picture/123.png');*/
    background-size: contain;
    color: white;
    /*   text-shadow: 2px 2px 4px rgba(0,0,0,0.7);*/
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8); /* Tăng đổ bóng để nổi bật hơn */
    width: 100%; /* hoặc width: 100vw; */ 
}
    .jumbotron .display-4 {
        /*color: #FFD700;*/ /* Màu vàng cho tiêu đề chính */
        /*font-size: 5em;*/ /* Kích thước chữ cho tiêu đề chính */
        /*font-weight: bold;*/ /* Chữ đậm hơn */
    }

    .jumbotron .lead {
        /*color: #00BFFF;*/ /* Màu xanh dương nhạt cho đoạn văn */
        font-size: 1.5em; /* Kích thước chữ cho đoạn văn */
        font-weight: 600; /* Làm chữ đậm hơn một chút */
    }
.selected-news {
    color: red; /* hoặc bất kỳ màu nào bạn muốn */
}
/*nút phân trang vanbanmoi*/
.pagination-container .pagination .page-item {
    display: inline-block;
    margin-right: 5px;
}

.pagination-container .pagination .page-link {
    padding: 6px 12px;
    border: 1px solid #ddd;
    color: #007bff;
    background-color: #fff;
    border-radius: 4px;
}

.pagination-container .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination-container .pagination .page-item.disabled .page-link {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #6c757d;
}









.hero {
    background-image: url('../picture/123.png');
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

    .hero h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 20px;
        margin-bottom: 30px;
    }
                
    .hero .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

        .hero .btn:hover {
            background-color: #0056b3;
            transform: scale(1.1);
        }

/* Keyframes for Fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Featured Articles */
.featured-articles {
    padding: 40px 20px;
    background-color: #f9f9f9;
}

    .featured-articles h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 30px;
    }


.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

    .articles-grid article {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        animation: slideUp 1.5s ease-in-out;
    }

        .articles-grid article:hover {
            transform: translateY(-10px);
        }

    .articles-grid img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .articles-grid h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .articles-grid p {
        margin-bottom: 15px;
        color: #777;
    }

    .articles-grid .btn {
        padding: 8px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

        .articles-grid .btn:hover {
            background-color: #0056b3;
            transform: scale(1.1);
        }

/* Keyframes for Slide-up */
@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Call to Action Sections */
.cta-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #007bff;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

    .cta-section h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .cta-section .btn {
        padding: 10px 20px;
        background-color: white;
        color: #007bff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

        .cta-section .btn:hover {
            background-color: #f1f1f1;
            transform: scale(1.1);
        }

.traffic-news {
    background-color: #f1f9ff; /* Màu nền nhẹ xanh dương */
    color: #333; /* Màu chữ tối */
}

    .traffic-news h2 {
        color: #007bff; /* Màu xanh dương đậm cho tiêu đề */
    }

    .traffic-news article {
        background-color: #ffffff; /* Màu nền trắng cho bài viết */
        border: 1px solid #007bff; /* Viền xanh dương */
    }

/* Văn bản giao thông */
.traffic-docs {
    background-color: #fff8e1; /* Màu nền nhẹ vàng */
    color: #333; /* Màu chữ tối */
}

    .traffic-docs h2 {
        color: #ff9800; /* Màu cam đậm cho tiêu đề */
    }

    .traffic-docs article {
        background-color: #ffffff; /* Màu nền trắng cho bài viết */
        border: 1px solid #ff9800; /* Viền cam */
    }

/* Custom styling cho các nút */
.traffic-news .btn {
    background-color: #007bff;
    color: white;
}

    .traffic-news .btn:hover {
        background-color: #0056b3;
    }

.traffic-docs .btn {
    background-color: #ff9800;
    color: white;
}

    .traffic-docs .btn:hover {
        background-color: #e67e22;
    }
.section-title {
    text-align: center; /* Căn giữa tiêu đề */
    font-size: 24px;
    font-weight: bold;
    color: #ff9800; /* Màu cam đậm cho tiêu đề */
    margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
}
/* Phong cách cho nút phân trang */
.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination-control {
    display: inline-block;
    padding: 0.5rem 1rem; /* Khoảng cách xung quanh nút */
    border-radius: 25px; /* Bo tròn góc */
    border: 1px solid transparent; /* Viền trong suốt */
    background-color: transparent; /* Nền trong suốt */
    color: gray; /* Màu chữ xám */
    text-decoration: none; /* Không có gạch chân */
    transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Hiệu ứng chuyển đổi */
    font-weight: bold; /* Đậm chữ */
    font-size: 1rem; /* Kích thước chữ vừa đẹp */
    font-family: 'Arial', sans-serif; /* Phông chữ đẹp */
}

/* Mũi tên */
.arrow {
    color: gray; /* Màu mũi tên xám */
    font-size: 1.5rem; /* Kích thước mũi tên lớn hơn */
}

/* Hiệu ứng hover */
.pagination-control:hover {
    background-color: rgba(128, 128, 128, 0.1); /* Nền nhẹ khi hover */
    color: gray; /* Giữ màu chữ xám khi hover */
    transform: scale(1.05); /* Phóng to nhẹ khi hover */
}

.pagination-control.disabled {
    cursor: not-allowed; /* Không cho phép nhấp */
    opacity: 0.5; /* Làm mờ nút */
}

/* Nút hiện tại */
.pagination-control.active {
    background-color: rgba(128, 128, 128, 0.2); /* Nền cho trang hiện tại */
    color: gray; /* Màu chữ cho trang hiện tại */
}

/* Khoảng cách giữa các mũi tên và số */
.pagination-control:not(:last-child) {
    margin-right: 10px; /* Khoảng cách giữa các nút */
}